<f:for each="{availableTcaColumns}" key="table" as="data" iteration="it">

        <div class="panel panel-default" id="{table}">
            <div class="panel-heading">
                <f:if condition="{table} == 'tt_content'">
                    <f:then>
                        <label class="fw-bold w-100 d-flex justify-content-between align-items-center">
                            {data.label}
                            <button
                                class="btn btn-default collapsed float-end"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#fields-{table}"
                                data-bs-parent="#{table}"
                                aria-expanded="false"
                                aria-controls="fields-{table}"
                            >
                                <core:icon identifier="actions-chevron-up" size="small" />
                            </button>
                        </label>
                    </f:then>
                    <f:else>
                        <label class="fw-bold w-100 d-flex justify-content-between align-items-center">
                            <f:translate key="aiSuite.createContent.fieldsOf" extensionName="ai_suite"/> "{data.label}"
                            <button
                                class="btn btn-default collapsed float-end"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#fields-{table}"
                                data-bs-parent="#{table}"
                                aria-expanded="false"
                                aria-controls="fields-{table}"
                            >
                                <core:icon identifier="actions-chevron-up" size="small" />
                            </button>
                        </label>
                    </f:else>
                </f:if>

            </div>
            <div
                id="fields-{table}"
                class="collapse show panel-body"
                data-bs-parent="#{table}"
            >
                <f:render partial="PageContent/AvailableTcaColumns/TextFields" arguments="{textFields: data.text, table: table, selectedTcaColumns: selectedTcaColumns}" />
                <f:render partial="PageContent/AvailableTcaColumns/ImageFields" arguments="{imageFields: data.image, table: table, selectedTcaColumns: selectedTcaColumns}" />
            </div>
        </div>

</f:for>
