<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:aiSuite="http://typo3.org/ns/AutoDudes/AiSuite/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>
<div class="ai-suite" id="workflowFilesTranslationPrepareExecute">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="panel-title fw-bold">
                <core:icon identifier="apps-filetree-folder-media" />
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflow.foundFilesForTranslation" />
            </label>
        </div>
        <div class="panel-body">
            <f:if condition="{limitReached}">
                <f:render partial="Libs/Notification" arguments="{type: 'warning', iconIdentifier: 'actions-exclamation-triangle', iconSize: 'small', titleKey: 'LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflow.info', messageKey: 'LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflowFilelist.limitReached'}"/>
            </f:if>
            <f:if condition="{skippedDirectories}">
                <f:render partial="Libs/Notification" arguments="{type: 'warning', iconIdentifier: 'actions-exclamation-triangle', iconSize: 'small', titleKey: 'LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflow.info', messageKey: 'LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflowFilelist.skippedDirectories'}"/>
            </f:if>
            <f:if condition="{fileMetadata -> f:count()} > 0">
                <f:render partial="Libs/SelectTextGenerationLibrary" arguments="{textGenerationLibraries: textGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
                <label class="mb-3 d-flex gap-2 fw-bold align-items-center">
                    <f:render partial="Libs/GlobalInstructions" arguments="{globalInstructions: globalInstructions}" />
                </label>
                <div class="glossary-selection" id="glossarySelection" style="display: none;"></div>
                <label class="mb-3 d-flex gap-2 fw-bold">
                    <input type="checkbox" id="toggleFileTranslationSelection" value="1" />
                    <span>
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflow.toggleAll" />
                    </span>
                </label>
            </f:if>
            <f:if condition="{folderGroups -> f:count()} > 0">
                <div id="sortable-files" class="sortable-wrap list-group nested-sortable">
                <f:for each="{folderGroups}" as="group">
                    <div class="folder-group" data-folder-identifier="{group.identifier}">
                        <f:render partial="Workflow/FolderGroupHeading" arguments="{group: group}"/>
                        <div class="folder-group-items">
                            <f:if condition="{group.count} > 0">
                                <f:then>
                                    <f:for each="{group.fileMetadata}" as="metadata" key="fileUid">
                                        <f:render partial="Workflow/FileListTranslationTaskItem" arguments="{
                                            metadata: metadata,
                                            fileUid: fileUid,
                                            groupIdentifier: group.identifier,
                                            alreadyPendingFiles: alreadyPendingFiles,
                                            maxAllowedFileSize: maxAllowedFileSize,
                                            activeColumn: activeColumn
                                        }"/>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <p class="folder-group-empty text-muted mb-0">
                                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflowFilelist.folderGroup.empty"/>
                                    </p>
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </f:for>
                </div>
            </f:if>
            <f:if condition="{fileMetadata -> f:count()} > 0">
                <div class="d-flex">
                    <button class="btn btn-primary mt-4" type="submit" id="filesTranslationExecuteFormSubmitBtn">
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflow.executeTranslationBtn" />
                    </button>
                    <f:if condition="{cliExecutionAvailable}">
                        <button class="btn btn-primary mt-4 mx-2" type="submit" id="automaticFilesTranslationExecuteFormSubmitBtn">
                            <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflow.cliCommandExecuteTranslationBtn" />
                        </button>
                    </f:if>
                </div>
                <p class="calculated-requests"></p>
            </f:if>
            <f:if condition="{fileMetadata -> f:count()} == 0 && {folderGroups -> f:count()} == 0">
                <div class="my-4">
                    <f:render partial="Libs/Notification" arguments="{type: 'info', iconIdentifier: 'actions-info', iconSize: 'small', titleKey: 'LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflow.info', messageKey: 'LLL:EXT:ai_suite/Resources/Private/Language/locallang_module.xlf:aiSuite.module.workflow.noFilesForTranslation'}"/>
                </div>
            </f:if>
        </div>
    </div>
</div>
</html>
