.DS_Store
.idea
node_modules
package-lock.json
.Build/
.idea/
Build/testing-docker/.env
composer.lock
Tests/Acceptance/Support/_generated/
.sass-cache/
/var

.typo3/
!.ddev
.ddev/*
!.ddev/config.yaml
!.ddev/commands
.ddev/commands/*
!.ddev/commands/host
.ddev/commands/host/solrtail.example
.ddev/commands/host/README.md
.ddev/commands/host/phpmyadmin
!.ddev/commands/web
.ddev/commands/web/README.md


!.ddev/docker-compose.external_links.yaml
!.ddev/docker-compose.chrome.yaml
!.ddev/docker-compose.chrome.yaml.deactivated.https
!.ddev/chrome-build
!.ddev/providers
.ddev/providers/*
!.ddev/providers/prod.yaml

!Build/Development/.ddev

composer.lock

temp/*
var/*
config/*
!config/sites
!config/system
config/system/*
!config/system/additional.php

