<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:format.htmlentitiesDecode><style>{inlineStyles}</style></f:format.htmlentitiesDecode>

    <div class="panel panel-default wizard-slide" id="wizardSlideOne">
        <div class="panel-heading">
            <h3 class="panel-title fw-bold">
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.metadataWizardSlideOneHeader" />
            </h3>
        </div>
        <div class="panel-body">
            <f:render partial="Libs/SelectTextGenerationLibrary" arguments="{textGenerationLibraries: textGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
            <label class="mb-3 d-flex gap-2 fw-bold align-items-center">
                <f:render partial="Libs/GlobalInstructions" arguments="{globalInstructions: globalInstructions}" />
            </label>
            <f:if condition="{sysLanguages}">
                <div class="form-group" id="languageSelection">
                    <f:render partial="Libs/SelectLanguage" arguments="{sysLanguages: sysLanguages, selectName: 'sysLanguage', selected: ''}" />
                </div>
            </f:if>
            <f:if condition="{availableNewsDetailPlugins}">
                <div class="form-group">
                    <label for="newsDetailPlugin" class="control-label fw-bold mb-2">
                        News Detail Plugins
                    </label>
                    <select id="newsDetailPlugin" class="form-control">
                        <option value="">Please select...</option>
                        <f:for each="{availableNewsDetailPlugins}" as="plugin">
                            <option value="{plugin.pid}">{plugin.title} (PID: {plugin.pid})</option>
                        </f:for>
                    </select>
                </div>
            </f:if>
            <div class="form-group">
                <button type="button" class="btn btn-primary"
                        data-uuid="{uuid}"
                        data-inline="1" value="blank"
                        data-identifier="aiSuiteGenerateMetadata"
                        id="aiSuiteGenerateMetadataBtn"
                >
                    <core:icon identifier="actions-add" size="small" />
                    <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.metadataWizardSlideOneButton" />
                </button>
            </div>
        </div>
    </div>
</html>
