<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:format.htmlentitiesDecode><style>{inlineStyles}</style></f:format.htmlentitiesDecode>
    <div class="panel panel-default wizard-slide" id="wizardSlideTwo">
        <div class="panel-heading">
            <h3 class="panel-title fw-bold">
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:aiSuite.module.modal.metaDataGenerationSlideTwo" />
            </h3>
        </div>
        <div class="panel-body">
            <f:render partial="Libs/MetadataSuggestionSelection" arguments="{metadataSuggestions: metadataSuggestions, fieldName: fieldName, table: table, position: 0}" />
            <f:if condition="{additionalFields -> f:count()} > 0">
                <div class="form-section mt-2 mb-3 p-3">
                    <label class="control-label fw-bold mb-3">
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:aiSuite.module.modal.metadataAdditionalFields" />
                    </label>
                    <div class="row">
                        <f:for each="{additionalFields}" key="useForField" as="useForLabel" iteration="it">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input
                                        type="checkbox"
                                        name="useFor[{useForField}]"
                                        value="{useForField}"
                                        class="form-check-input use-for-selection"
                                        id="useFor-{useForField}"
                                    >
                                    <label class="form-check-label mx-2" for="useFor-{useForField}">
                                        {useForLabel}
                                    </label>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
            </f:if>
            <div class="form-group">
                <div class="btn-group gap-2" role="group">
                    <button class="btn btn-default" id="aiSuiteBackToPreviousSlideBtn">
                        <core:icon identifier="actions-refresh" size="small" />
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.regenerateSuggestions" />
                    </button>
                    <button class="btn btn-primary" id="aiSuiteSaveMetadataBtn">
                        <core:icon identifier="actions-check" size="small" />
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.metadataWizardSaveButton" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</html>
