<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      {namespace core=TYPO3\CMS\Core\ViewHelpers}
      {namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">

    <h2 class="text-gradient">
        <f:translate key="tx_aisuite.module.Pages.overview.header"/>
    </h2>

    <section class="card-container">

        <f:render partial="DashboardCards/DynamicCard" arguments="{
            icon: 'content-menu-pages',
            cardname: 'createPagetree',
            controller: 'Pages',
            action: 'pageStructure',
            status: 'active'
        }" />

        <f:render partial="DashboardCards/DynamicCard" arguments="{
            icon: 'apps-pagetree-page-content-from-page-hideinmenu',
            cardname: 'createPagetreeWithContent',
            controller: 'Pages',
            action: 'overview',
            status: 'comming-soon'
        }" />
    </section>

</f:section>
