<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      {namespace core=TYPO3\CMS\Core\ViewHelpers}
      {namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">

    <section class="container">
        <h2 class="text-gradient">
            <f:translate key="tx_aisuite.module.pageStructure.headline" extensionName="ai_suite"/>
        </h2>

        <form method="POST" action="{f:be.uri(route: 'ai_suite_page_validate_pagetree')}" name="input" enctype="multipart/form-data" class="with-spinner">

            <input type="hidden" name="textGenerationLibraries" value="{textGenerationLibraries -> f:format.json()}" />
            <f:render partial="Libs/SelectTextGenerationLibrary" arguments="{textGenerationLibraries: textGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
            <div class="row prompt-settings mt-3">
                <div class="card card-size-large active">
                    <div class="card-header">
                        <h3 class="text-gradient">
                            <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.contentElementPromptHeader" extensionName="ai_suite"/>
                        </h3>
                        <br />
                        <f:render partial="Libs/SelectPromptTemplates" arguments="{promptTemplates: promptTemplates}" />
                        <div class="mt-3">
                            <f:render partial="Libs/PromptField" arguments="{propertyName: 'plainPrompt', value: ''}" />
                        </div>
                    </div>
                </div>
                <f:render partial="Libs/PagesSelect" arguments="{pagesSelect: pagesSelect, propertyName: 'startStructureFromPid', label: 'tx_aisuite.module.pageStructure.pageChooser', selected: selectedPid}" />
                <div class="language-selection row mb-3">
                    <f:render partial="Libs/SelectLanguage" arguments="{sysLanguages: sysLanguages, selectName: 'sysLanguage', selected: ''}" />
                </div>
                <div class="p-0">
                    <button type="submit" class="btn btn-primary">
                        <core:icon identifier="actions-file-add" size="small"/>
                        <f:translate key="tx_aisuite.module.pageStructure.submit" extensionName="ai_suite"/>
                    </button>
                </div>
            </div>
        </form>

        <f:variable name="spinnerMessage" value="{f:translate(key: 'tx_aisuite.module.general.spinner.contentCreation', extensionName: 'ai_suite')}" />
        <f:render partial="Spinner" arguments="{message: '{spinnerMessage}'}" />
    </section>

</f:section>
