<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      {namespace core=TYPO3\CMS\Core\ViewHelpers}
      {namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">

    <div class="row">
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="panel-title fw-bold">
                        <core:icon identifier="content-menu-pages" />
                        <f:translate key="tx_aisuite.module.pageStructure.headline" extensionName="ai_suite"/>
                    </label>
                </div>
                <div class="panel-body">
                    <form method="POST" action="{f:be.uri(route: 'ai_suite_page_validate_pagetree')}" name="input" enctype="multipart/form-data" class="with-spinner">
                        <input type="hidden" name="textGenerationLibraries" value="{textGenerationLibraries -> f:format.json()}" />
                        <input type="hidden" name="paidRequestsAvailable" value="{paidRequestsAvailable}" />
                        <f:render partial="Libs/SelectTextGenerationLibrary" arguments="{textGenerationLibraries: textGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
                        <f:render partial="Libs/SelectPromptTemplates" arguments="{promptTemplates: promptTemplates}" />
                        <f:render partial="Libs/PromptField" arguments="{propertyName: 'plainPrompt', value: ''}" />
                        <f:render partial="Libs/PagesSelect" arguments="{pagesSelect: pagesSelect, propertyName: 'startStructureFromPid', label: 'tx_aisuite.module.pageStructure.pageChooser', selected: selectedPid}" />
                        <div class="form-group language-selection mb-3">
                            <f:render partial="Libs/SelectLanguage" arguments="{sysLanguages: sysLanguages, selectName: 'sysLanguage', selected: ''}" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <core:icon identifier="actions-file-add" size="small"/>
                                <f:translate key="tx_aisuite.module.pageStructure.submit" extensionName="ai_suite"/>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <f:render partial="Spinner" arguments="{messageKey: 'tx_aisuite.module.general.spinner.contentCreation'}" />

</f:section>
