<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{requests}">
        <f:then>
            <div class="d-flex justify-content-center align-items-center mx-3" style="height:45px;">
                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 64 64" xml:space="preserve" width="16px" height="16px" style="border-radius:2px;">
                <style type="text/css">
                    .st0{fill:url(#Rechteck_44_00000013910148143574501140000004453864656853440669_);}
                    .st1{fill:#FFFFFF;}
                </style>
                            <linearGradient id="Rechteck_44_00000121964855297047390660000008192662802121740730_" gradientUnits="userSpaceOnUse" x1="-387.6407" y1="330.0303" x2="-387.5814" y2="329.9711" gradientTransform="matrix(1080 0 0 -1080 418651.9375 356432.75)">
                    <stop  offset="0" style="stop-color:#F09C42"/>
                                <stop  offset="1" style="stop-color:#AF4E26"/>
                                <stop  offset="1" style="stop-color:#381C19"/>
                </linearGradient>
                            <rect id="Rechteck_44" style="fill:url(#Rechteck_44_00000121964855297047390660000008192662802121740730_);" width="64" height="64"/>
                            <path id="Vereinigungsmenge_8" class="st1" d="M25.3,44.7c4-1,4.7-1.8,5.6-6.2c0.9,4.5,1.6,5.2,5.6,6.2c-4,1-4.7,1.7-5.6,6.2
                    C30,46.5,29.3,45.7,25.3,44.7z M25.7,27c9.1-2.2,10.7-3.9,12.6-14c2,10,3.6,11.8,12.6,14c-9.1,2.2-10.7,3.9-12.6,14
                    C36.4,31,34.8,29.2,25.7,27L25.7,27z M13,32.2c4.6-1.1,5.4-2,6.4-7c1,5,1.8,5.9,6.4,7c-4.6,1.1-5.4,2-6.4,7
                    C18.4,34.2,17.6,33.3,13,32.2z"/>
                </svg>
                <span class="mx-2">
                    Free: {f:if(condition: requests, then: '{requests.free_requests}', else: '-')}
                </span>
                <span>
                    Paid: {f:if(condition: requests, then: '{requests.paid_requests}', else: '-')}
                </span>
                <f:if condition="{requests.abo_requests}">
                    <span class="mx-2">
                        Plan: {f:if(condition: requests, then: '{requests.abo_requests}', else: '-')}
                    </span>
                </f:if>
            </div>
        </f:then>
        <f:else if="{error}">
            <span class="d-block pt-3 text-warning">{error}</span>
        </f:else>
    </f:if>
</html>
