<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <div class="ai-suite mt-4" id="massActionFileReferencesPrepareExecute">
        <hr />
        <h2 class="my-4">
            <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.foundFilesAndMetadata" />
        </h2>
        <f:if condition="{fileReferences -> f:count()} > 0">
                <f:render partial="Libs/SelectTextGenerationLibrary" arguments="{textGenerationLibraries: textGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
                <p class="my-4 position-relative">
                    <input type="checkbox" id="toggleFileReferenceSelection" value="1" />
                    <span class="px-4">
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.toggleAll" />
                    </span>
                </p>
                <div id="sortable-file-references" class="sortable-wrap">
                    <f:render partial="MassAction/FileReferenceTask" arguments="{tasks: fileReferences, alreadyPendingFileReferences: alreadyPendingFileReferences, column: column, columnName: columnName, maxAllowedFileSize: maxAllowedFileSize}" />
                </div>
        </f:if>
        <f:if condition="{unsupportedFileReferences -> f:count()} > 0">
            <div id="sortable-file-references" class="sortable-wrap">
                <f:render partial="MassAction/FileReferenceUnsupportedTask" arguments="{tasks: unsupportedFileReferences}" />
            </div>
        </f:if>
        <f:if condition="{fileReferences -> f:count()} > 0">
            <div class="d-flex">
                <button class="btn btn-primary mt-4" type="submit" id="fileReferencesExecuteFormSubmitBtn">
                    <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.executeBtn" />
                </button>
                <button class="btn btn-primary mt-4 mx-2" type="submit" id="fileReferencesSaveMetadataSubmitBtn">
                    <f:format.raw><f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.saveMetadataBtn" /></f:format.raw>
                </button>
            </div>
            <p class="calculated-requests"></p>
        </f:if>
        <f:if condition="{fileReferences -> f:count()} == 0 && {unsupportedFileReferences -> f:count()} == 0">
            <p class="my-4">
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.noFilesFound" extensionName="ai_suite" />
            </p>
        </f:if>
    </div>
</html>
