<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <div class="ai-suite mt-4" id="massActionFilesPrepareExecute">
        <hr />
        <h2 class="my-4">
            <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.foundFilesAndMetadata" />
        </h2>
        <f:if condition="{files -> f:count()} > 0">
            <f:then>
                <f:render partial="Libs/SelectTextGenerationLibrary" arguments="{textGenerationLibraries: textGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
                <p class="my-4 position-relative">
                    <input type="checkbox" id="toggleFileSelection" value="1" />
                    <span class="px-4">
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.toggleAll" />
                    </span>
                </p>
                <div id="sortable-files" class="sortable-wrap">
                    <f:render partial="MassAction/FileTask" arguments="{tasks: files, alreadyPendingFiles: alreadyPendingFiles, column: column, columnName: columnName}" />
                </div>
                <div class="d-flex">
                    <button class="btn btn-primary mt-4" type="submit" id="filesExecuteFormSubmitBtn">
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.executeBtn" />
                    </button>
                    <button class="btn btn-primary mt-4 mx-2" type="submit" id="filesSaveMetadataSubmitBtn">
                        <f:format.raw><f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.saveMetadataBtn" /></f:format.raw>
                    </button>
                </div>
                <p class="calculated-requests"></p>
            </f:then>
            <f:else>
                <p>
                    <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.noFilesFound" />
                </p>
            </f:else>
        </f:if>
    </div>
</html>
