
<f:if condition="{imageFields -> f:count()} > 0">
    <label class="panel-title fw-bold mb-2">
        <f:translate key="aiSuite.module.availableFileFields" extensionName="ai_suite"/>
    </label>
    <div class="d-flex flex-wrap">
        <f:for each="{imageFields}" key="fieldName" as="data" iteration="it">
            <div class="d-flex align-items-center mb-2" style="flex: 0 0 calc(50% - 1rem);">
                <f:if condition="{selectedTcaColumns.{table}.image.{fieldName}}">
                    <f:then>
                        <input type="checkbox"
                            class="request-field-checkbox me-2"
                            name="selectedTcaColumns[{table}][image][{fieldName}]"
                            id="selectedTcaColumns[{table}][image][{fieldName}]"
                            value="{data.renderType}"
                            checked="checked"
                        />
                    </f:then>
                    <f:else>
                        <input type="checkbox"
                            class="request-field-checkbox me-2"
                            name="selectedTcaColumns[{table}][image][{fieldName}]"
                            id="selectedTcaColumns[{table}][image][{fieldName}]"
                            value="{data.renderType}"
                        />
                    </f:else>
                </f:if>
                <label class="mb-0" for="selectedTcaColumns[{table}][image][{fieldName}]">{data.label}</label>
            </div>
        </f:for>
    </div>
</f:if>


