
<f:if condition="{textFields -> f:count()} > 0">
    <strong class="ps-0 pt-3 pb-2">
        <f:translate key="aiSuite.module.availableInputFields" extensionName="ai_suite"/>
    </strong>
    <f:for each="{textFields}" key="fieldName" as="data" iteration="it">
        <div class="col-12 col-md-6 ps-0">
            <f:if condition="{selectedTcaColumns.{table}.text.{fieldName}}">
                <f:then>
                    <input type="checkbox"
                        class="request-field-checkbox"
                        name="selectedTcaColumns[{table}][text][{fieldName}]"
                        id="selectedTcaColumns[{table}][text][{fieldName}]"
                        value="{data.renderType}"
                        checked="checked"
                    />
                </f:then>
                <f:else>
                    <input type="checkbox"
                        class="request-field-checkbox"
                        name="selectedTcaColumns[{table}][text][{fieldName}]"
                        id="selectedTcaColumns[{table}][text][{fieldName}]"
                        value="{data.renderType}"
                    />
                </f:else>
            </f:if>
            <label class="mb-1" for="selectedTcaColumns[{table}][text][{fieldName}]">{data.label}</label>
        </div>
    </f:for>
</f:if>


