<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:aiSuite="http://typo3.org/ns/AutoDudes/AiSuite/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>
<div class="ai-suite" id="massActionFilesPrepareExecute">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="panel-title fw-bold">
                <core:icon identifier="apps-filetree-folder-media" />
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.foundFilesAndMetadata" extensionName="ai_suite" />
            </label>
        </div>
        <div class="panel-body">
            <f:if condition="{fileMetadata -> f:count()} > 0">
                <f:render partial="Libs/SelectTextGenerationLibrary" arguments="{textGenerationLibraries: textGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
                <label class="mb-3 d-flex gap-2 fw-bold">
                    <input type="checkbox" id="toggleFileSelection" value="1" />
                    <span>
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.toggleAll" extensionName="ai_suite"/>
                    </span>
                </label>
                <div id="sortable-files" class="sortable-wrap list-group nested-sortable">
                <f:for each="{fileMetadata}" as="metadata" key="fileUid">
                    <div class="list-group-item nested">
                        <div class="d-flex w-100">
                            <div class="preview-image">
                                <label for="file-selection[{metadata.uid}]">
                                    <f:image src="{fileUid}" width="100px"  />
                                </label>
                            </div>
                            <div class="file-meta-content d-flex flex-column w-100">
                                <f:variable name="taskStatus">{aiSuite:inArray(needle: metadata.uid, haystack: alreadyPendingFiles)}</f:variable>
                                <div class="file-meta-content-info badge badge-info"
                                     data-table="sys_file_metadata"
                                     data-uid="{metadata.uid}"
                                >
                                    <core:icon identifier="actions-document-info" size="small" /> <f:translate key="tx_aisuite.status.info" extensionName="ai_suite"/>
                                </div>
                                <label class="d-flex gap-2 fw-bold mb-3" for="file-selection[{metadata.uid}]">
                                    <f:if condition="{taskStatus} != ''">
                                        <f:then>
                                            <span class="badge badge-{taskStatus}">{taskStatus}</span>
                                        </f:then>
                                        <f:else if="{metadata.size} > {maxAllowedFileSize}">
                                            <span class="badge badge-warning">
                                                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.notification.imageSizeTooLargeBadge" />
                                            </span>
                                        </f:else>
                                        <f:else>
                                            <input
                                                type="checkbox"
                                                name="file-selection[{metadata.uid}]"
                                                id="file-selection[{metadata.uid}]"
                                                value="{metadata.uid}"
                                            >
                                        </f:else>
                                    </f:if>
                                    <f:if condition="{metadata.mode} == 'NEW'">
                                        <span class="badge badge-success badge-new"><f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.notification.badge.new" /></span>
                                    </f:if>
                                    <span>{metadata.name}</span>
                                    <f:if condition="{metadata.size} > {maxAllowedFileSize}">
                                        <div class="size-info">
                                            <core:icon identifier="actions-exclamation-triangle" size="small" />
                                            <span class="error-message"><f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.notification.imageSizeTooLarge" extensionName="ai_suite"/></span>
                                        </div>
                                    </f:if>
                                </label>
                                <f:if condition="{taskStatus} === ''">
                                    <div class="filelist-input title {f:if(condition: '{activeColumn} == \'all\' || {activeColumn} == \'title\'', then: 'd-block', else: 'd-none')}">
                                        <label><f:translate key="tx_aisuite.form.label.title" extensionName="ai_suite"/></label>
                                        <input
                                            class="w-100 file-metadata-field"
                                            name="files[{metadata.uid}][title]"
                                            value="{metadata.title}"
                                            data-sys-file-uid="{metadata.fileUid}"
                                            data-mode="{metadata.mode}"
                                        />
                                    </div>
                                    <div class="filelist-input alternative {f:if(condition: '{activeColumn} == \'all\' || {activeColumn} == \'alternative\'', then: 'd-block', else: 'd-none')}">
                                        <label><f:translate key="tx_aisuite.form.label.alternativeText" extensionName="ai_suite"/></label>
                                        <input class="w-100 file-metadata-field"
                                               name="files[{metadata.uid}][alternative]"
                                               value="{metadata.alternative}"
                                               data-sys-file-uid="{metadata.fileUid}"
                                               data-mode="{metadata.mode}"
                                        />
                                    </div>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </f:for>
                </div>
            </f:if>
            <f:if condition="{unsupportedFileMetadata -> f:count()} > 0">
                <div id="sortable-files" class="sortable-wrap list-group nested-sortable">
                <f:for each="{unsupportedFileMetadata}" as="unsupportedMetadata" key="unsupportedFileUid">
                    <div class="list-group-item nested">
                        <div class="d-flex w-100">
                            <div class="preview-image">
                                <label>
                                    <f:image src="{unsupportedFileUid}" width="100px"  />
                                </label>
                            </div>
                            <div class="file-meta-content d-flex flex-column w-100">
                                <div class="file-meta-content-info badge badge-info"
                                     data-table="sys_file_metadata"
                                     data-uid="{unsupportedMetadata.uid}"
                                >
                                    <core:icon identifier="actions-document-info" size="small" /> <f:translate key="tx_aisuite.status.info" extensionName="ai_suite"/>
                                </div>
                                <label class="d-flex gap-2 fw-bold mb-3">
                                    <span class="badge"><f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.file.unsupportedImageFormat" /></span>
                                    <span>{unsupportedMetadata.name}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </f:for>
                </div>
            </f:if>
            <f:if condition="{fileMetadata -> f:count()} > 0">
                <div class="d-flex">
                    <button class="btn btn-primary mt-4" type="submit" id="filesExecuteFormSubmitBtn">
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.executeBtn" extensionName="ai_suite" />
                    </button>
                    <button class="btn btn-primary mt-4 mx-2" type="submit" id="filesSaveMetadataSubmitBtn">
                        <f:format.raw><f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.module.massAction.saveMetadataBtn" extensionName="ai_suite" /></f:format.raw>
                    </button>
                </div>
                <p class="calculated-requests"></p>
            </f:if>
            <f:if condition="{fileMetadata -> f:count()} == 0 && {unsupportedFileMetadata -> f:count()} == 0">
                <div class="my-4">
                    <f:render partial="Libs/Notification" arguments="{type: 'info', iconIdentifier: 'actions-info', iconSize: 'small', titleKey: 'AiSuite.module.massAction.info', messageKey: 'AiSuite.module.massAction.noFilesFound'}"/>
                </div>
            </f:if>
        </div>
    </div>
</div>
</html>
