.searchable.dropdown .searchbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom:  1px solid var(--typo3-text-color-base, #000);
}

.searchable.dropdown .searchbox .searchableInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.searchable.dropdown .searchbox .searchableInput:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.searchable.dropdown button.dropdown-toggle {
    width: 100%;
    justify-content: flex-start;
}
.searchable.dropdown button.dropdown-toggle:after {
    position: absolute;
    right: 1rem;
}
