<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <label for="generated-images-{table}-{fieldName}" class="fw-bold mb-2">
        <f:format.case mode="capital">{fieldName}</f:format.case>
    </label><br />
    <div class="d-flex gap-3">
        <f:render partial="Libs/ImageSelection" arguments="{imageSuggestions: imageSuggestions, fieldName: fieldName, table: table, position: position}" />
        <f:render partial="Libs/ImageTitleSelection" arguments="{imageTitleSuggestions: imageTitleSuggestions, fieldName: fieldName, table: table, position: position}" />
    </div>
    <div class="form-group">
        <div class="btn-group my-3" role="group">
            <button
                class="btn btn-default create-content-update-image"
                data-table="{table}"
                data-page-id="{pageId}"
                data-language-id="{sysLanguageUid}"
                data-fieldname="{fieldName}"
                data-initial-prompt="{imagePrompt}"
                data-initial-image-ai="{imageAi}"
                data-position="{position}"
            >
                <core:icon identifier="actions-refresh" size="small" />
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.regenerateSuggestions" /> ({fieldName})
            </button>
        </div>
    </div>
</html>
