<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:format.htmlentitiesDecode><style>{inlineStyles}</style></f:format.htmlentitiesDecode>
    <div class="panel panel-default wizard-slide" id="wizardSlideOne">
        <div class="panel-heading">
            <h3 class="panel-title fw-bold">
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.imageWizardSlideOneHeader" />
            </h3>
        </div>
        <div class="panel-body">
            <f:render partial="Libs/SelectImageGenerationLibrary" arguments="{imageGenerationLibraries: imageGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
            <f:render partial="Libs/SelectImageSettings" arguments="{imageGenerationLibraries: imageGenerationLibraries}" />
            <div class="form-sectin mb-3">
                <f:render partial="Libs/SelectPromptTemplates" arguments="{promptTemplates: promptTemplates}" />
                <label class="control-label fw-bold mb-2">
                    <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.imageWizardPromptHeader" />
                </label>
                <textarea class="form-control" id="imageGenerationPrompt" rows="6" required></textarea>
            </div>
            <div class="form-group" id="languageSelection">
                <f:render partial="Libs/SelectLanguage" arguments="{sysLanguages: sysLanguages, selectName: 'langIsoCode', selected: ''}" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary"
                        data-uuid="{uuid}"
                        data-inline="1" value="blank"
                        data-identifier="aiSuiteGenerateImage"
                        id="aiSuiteGenerateImageBtn"
                >
                    <core:icon identifier="actions-add" size="small" />
                    <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.imageWizardSlideOneButton" />
                </button>
            </div>
        </div>
    </div>
</html>
