<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:format.htmlentitiesDecode><style>{inlineStyles}</style></f:format.htmlentitiesDecode>
    <div id="wizardSlideThree" class="ai-suite-image-generation-wizard">
        <div class="container">
            <f:render partial="Libs/ImageSelection" arguments="{imageSuggestions: imageSuggestions, fieldName: fieldName, table: table, position: position}" />
            <f:render partial="Libs/ImageTitleSelection" arguments="{imageTitleSuggestions: imageTitleSuggestions, fieldName: fieldName, table: table, position: position}" />
        </div>
        <div class="container">
            <div class="row mt-3">
                <div class="col-6">
                    <button class="mb-3 mt-1 btn btn-default w-100" id="aiSuiteBackToWizardSlideOneBtn" style="font-size: 0.875rem;">
                        <core:icon identifier="actions-refresh" size="small" />
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.regenerateSuggestions" />
                    </button>
                </div>
                <div class="col-6">
                    <button class="mb-3 mt-1 btn btn-primary w-100" id="aiSuiteSaveGeneratedImageBtn" style="font-size: 0.875rem;">
                        <core:icon identifier="actions-check" size="small" />
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.useImageSuggestion" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</html>
