<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:format.htmlentitiesDecode><style>{inlineStyles}</style></f:format.htmlentitiesDecode>
    <div class="panel panel-default wizard-slide" id="wizardSlideTwo">
        <div class="panel-body">
            <div class="d-flex gap-3">
                <f:render partial="Libs/ImageSelection" arguments="{imageSuggestions: imageSuggestions, fieldName: fieldName, table: table, position: position}" />
                <f:render partial="Libs/ImageTitleSelection" arguments="{imageTitleSuggestions: imageTitleSuggestions, fieldName: fieldName, table: table, position: position}" />
            </div>
            <div class="form-group">
                <div class="btn-group gap-2 mt-2" role="group">
                    <button class="btn btn-default" id="aiSuiteBackToWizardSlideOneBtn">
                        <core:icon identifier="actions-refresh" size="small" />
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.regenerateSuggestions" />
                    </button>
                    <button class="btn btn-primary" id="aiSuiteSaveGeneratedImageBtn">
                        <core:icon identifier="actions-check" size="small" />
                        <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:AiSuite.useImageSuggestion" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</html>
