<f:if condition="{textFields -> f:count()} > 0">
    <f:for each="{textFields}" key="fieldName" as="fieldData" iteration="it">
        <f:switch expression="{fieldData.renderType}">
            <f:case value="input">
                <div class="form-group mb-3">
                    <label for="{fieldName}" class="form-label">
                        <f:format.case mode="capital">{fieldData.label}</f:format.case>
                    </label>
                    <input type="text" name="contentElementData[{table}][{position}][{fieldName}]" value="{fieldData.content}" class="form-control"/>
                </div>
            </f:case>
            <f:case value="text">
                <div class="form-group mb-3">
                    <label for="{fieldName}" class="form-label">
                        <f:format.case mode="capital">{fieldData.label}</f:format.case>
                    </label>
                    <f:if condition="{fieldData.rteConfig}">
                        <f:then>
                            <input type="hidden" name="contentElementData[{table}][{position}][{fieldName}]" value="{fieldData.content}" class="rte-content form-control"/>
                            <div
                                data-field-identifier="contentElementData[{table}][{position}][{fieldName}]"
                                class="rte-textarea"
                            >
                                <f:if condition="{fieldData.rteConfig.typo3PatchVersion} >= 23">
                                    <f:then>
                                        <typo3-rte-ckeditor-ckeditor5 {fieldData.rteConfig.ckeditorAttributes -> f:format.raw()}>
                                            <textarea {fieldData.rteConfig.textareaAttributes -> f:format.raw()}>
                                                <f:format.htmlspecialchars>{fieldData.content}</f:format.htmlspecialchars>
                                            </textarea>
                                        </typo3-rte-ckeditor-ckeditor5>
                                    </f:then>
                                    <f:else>
                                        <typo3-rte-ckeditor-ckeditor5 {fieldData.rteConfig.ckeditorAttributes -> f:format.raw()}>
                                        </typo3-rte-ckeditor-ckeditor5>
                                    </f:else>
                                </f:if>
                            </div>
                        </f:then>
                        <f:else>
                            <textarea name="contentElementData[{table}][{position}][{fieldName}]" class="form-control">{fieldData.content}</textarea>
                        </f:else>
                    </f:if>
                </div>
            </f:case>
            <f:defaultCase>
                <div class="form-group mb-3">
                    <label for="{fieldName}" class="form-label">
                        <f:format.case mode="capital">{fieldData.label}</f:format.case>
                    </label>
                    <textarea name="contentElementData[{table}][{position}][{fieldName}]" class="form-control">{fieldData.content}</textarea>
                </div>
            </f:defaultCase>
        </f:switch>
    </f:for>
</f:if>



