<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
{namespace core=TYPO3\CMS\Core\ViewHelpers}

<div class="panel panel-default mb-3">
    <div class="panel-heading">
        <label class="panel-title fw-bold">
            <core:icon identifier="actions-options" />
            <f:translate key="tx_aisuite.module.dashboard.card.backgroundTaskStats.overall" extensionName="ai_suite"/>
        </label>
    </div>
    <div class="panel-body py-3">
        <div class="d-flex justify-content-around align-items-center">
            <f:render section="statBlock" arguments="{field: taskStatistics.total.total, labelSuffix: 'total', textClass: 'text-dark'}" />
            <f:render section="statBlock" arguments="{field: taskStatistics.total.finished, labelSuffix: 'finished', textClass: 'text-success'}" />
            <f:render section="statBlock" arguments="{field: taskStatistics.total.pending, labelSuffix: 'pending', textClass: 'text-info'}" />
            <f:render section="statBlock" arguments="{field: taskStatistics.total.taskError, labelSuffix: 'error', textClass: 'text-danger'}" />
        </div>
    </div>
</div>
</html>

<f:section name="statBlock">
    <div class="col-md-3">
        <div class="text-center">
            <h3 class="mb-1 {textClass}">
                <f:translate key="tx_aisuite.module.dashboard.card.backgroundTaskStats.{labelSuffix}" extensionName="ai_suite"/>
            </h3>
            <span class="h2 {textClass}">{field}</span>
        </div>
    </div>
</f:section>
