:root {
    --checkbox-radio-size: 18px;
    --checkbox-radio-gap: 10px;
    --checkbox-radio-border-width: 1px;
    --checkbox-radio-line-height: 1.4;
    --radio-marker-size: 8px;
    --checkbox-marker-size: 12px;
    --checkbox-radius: 4px;
}

div[data-module-id="aiSuite"] .module {
    overflow-x: hidden;
}

div[data-module-id="aiSuite"] .module:has(.searchable.dropdown) {
    overflow-x: visible;
    overflow-y: visible;
}

div[data-module-id="aiSuite"] .card.comming-soon {
    opacity: .5;
}

div[data-module-id="aiSuite"] .card .card-header {
    height: 100%;
}

div[data-module-id="aiSuite"] .card {
    overflow: visible;
}

div[data-module-id="aiSuite"] .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/*div[data-module-id="aiSuite"] .btn-primary svg,*/
/*div[data-module-id="aiSuite"] .btn-secondary svg {*/
/*    fill: #fff;*/
/*}*/

div[data-module-id="aiSuite"] .form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

div[data-module-id="aiSuite"] .image-settings label {
    font-size: 0.875rem;
    position: relative;
    width: 100%;
}

div[data-module-id="aiSuite"] .tooltip {
    position: absolute;
    right: 0;
    display: inline-block;
    opacity: 1;
    width: 16px;
    height: 16px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    top: 4px;
    font-size: 12px;
    padding: 0;
}

div[data-module-id="aiSuite"] .tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    top: -5px;
    right: 105%;
}

div[data-module-id="aiSuite"] .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

div[data-module-id="aiSuite"] .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #00000000;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.9s ease-in-out;
}
div[data-module-id="aiSuite"] form .form-group .spinner-overlay {
    position: absolute;
}
div[data-module-id="aiSuite"] form .form-group .spinner-wrapper {
    width: 100%;
    height: 600px;
}
div[data-module-id="aiSuite"] .spinner-overlay.active {
    display: flex;
}
div[data-module-id="aiSuite"] .spinner-overlay.darken {
    background-color: rgba(0,0,0,0.75);
}

div[data-module-id="aiSuite"] .spinner,
div[data-module-id="aiSuite"] .spinner:before,
div[data-module-id="aiSuite"] .spinner:after{
    text-align: center;
    opacity: 0;
    width: 35px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px inset #fff;
    position: relative;
    animation: 1.5s infinite 0.5s;
    animation-name: l7-1,l7-2;
}
div[data-module-id="aiSuite"] .spinner:before,
div[data-module-id="aiSuite"] .spinner:after{
    content: "";
    position: absolute;
    left: calc(100% + 5px);
    animation-delay: 1s,0s;
}
div[data-module-id="aiSuite"] .spinner:after{
    left: -40px;
    animation-delay: 0s,1s;
}
@keyframes l7-1 {
    0%,55%,100%  {border-top-left-radius:0;  border-bottom-right-radius:0}
    20%,30%      {border-top-left-radius:50%;border-bottom-right-radius:50%}
}
@keyframes l7-2 {
    0%,55%,100%  {border-bottom-left-radius:0;  border-top-right-radius:0}
    20%,30%      {border-bottom-left-radius:50%;border-top-right-radius:50%}
}

div[data-module-id="aiSuite"] .spinner-overlay.darken .spinner,
div[data-module-id="aiSuite"] .spinner-overlay.darken .spinner:before,
div[data-module-id="aiSuite"] .spinner-overlay.darken .spinner:after {
    opacity: 1;
}
div[data-module-id="aiSuite"] .spinner-overlay.darken .message {
    position: absolute;
    top: 53%;
    font-size: 0.9rem;
}
div[data-module-id="aiSuite"] .spinner-overlay.darken .status {
    position: absolute;
    top: 61%;
    font-size: 0.9rem;
}
div[data-module-id="aiSuite"] .spinner-overlay.active .cancel {
    display: flex;
    position: absolute;
    top: 56%;
    font-size: 0.9rem;
    animation: show 0s both;
    animation-delay: 0.8s;
}

@keyframes show {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

div[data-module-id="aiSuite"] .request-state span {
    font-size: 0.7rem;
}
div[data-module-id="aiSuite"] textarea {
    min-height: 150px;
}

div[data-module-id="aiSuite"] .btn.btn-primary,
.t3js-ai-suite-image-generation-add-btn {
    background: #F09C42;
    color: black;
    border: none;
}

.t3js-ai-suite-image-generation-add-btn span {
    pointer-events: none;
}

.t3js-ai-suite-image-generation-add-btn:hover {
    color: white;
    opacity: 0.8;
}

div[data-module-id="aiSuite"] .badge-warning {
    background: #f2f2f2;
    color: black;
}

.text-generation-library,
.image-generation-library,
.translate-generation-library,
.prompt-settings,
.image-settings {
    margin-left: 0;
}
.pages-select {
    padding: 0 15px 0 0;
}
.page-structure-create .pages-select {
    padding: 0;
}
.text-generation-library label,
.image-generation-library label,
.translate-generation-library label {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0.5rem 0.75rem 2.25rem !important;
    background-color: #fefefe !important;
    border: 1px solid #bbb !important;
    border-radius: 0.125rem !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
}

.image-settings .image-settings-midjourney {
    display: none;
}

.text-generation-library label:hover,
.image-generation-library label:hover {
    background-color: #f9f9f9 !important;
}

.text-generation-library label .request-amount,
.image-generation-library label .request-amount,
.translate-generation-library label .request-amount {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 0.8rem;
    background: #F09C42;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 100px;
    color: black;
    font-weight: 600;
}

div[data-module-id="aiSuite"] .btn.btn-secondary {
    background: #F09C42;
    border: none;
    color: black;
}

div[data-module-id="aiSuite"] .fields-button {
    background: #F09C42;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    color: black;
}

div[data-module-id="aiSuite"]:not(:has(.rte-textarea)) button:not(.btn) {
    background: #F09C42;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    color: white;
    transition: all ease-in-out .3s;
}

div[data-module-id="aiSuite"] button:not(.btn):hover {
    background: #EE4524;
}

div[data-module-id="aiSuite"] button.add,
div[data-module-id="aiSuite"] button.edit,
div[data-module-id="aiSuite"] button.delete {
    background: #eee;
    border: 1px solid #bbb;
    color: #000;
}

div[data-module-id="aiSuite"] button.add:hover,
div[data-module-id="aiSuite"] button.edit:hover,
div[data-module-id="aiSuite"] button.delete:hover{
    background: #cacaca;
}

div[data-module-id="aiSuite"]:not(.image-selection) input[type="radio"],
div[data-module-id="aiSuite"]:not(.image-selection) input[type="checkbox"] {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: calc((1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2);
    opacity: 0;
    height: var(--checkbox-radio-size);
    width: 100%;
}

div[data-module-id="aiSuite"] input[type="text"].image-title-free-text-input {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem 0.5rem;
}

div[data-module-id="aiSuite"]  .image-title-suggestions .image-title-wrapper {
    min-height: 50px;
}

div[data-module-id="aiSuite"] input[type="radio"]:not(.image-selection) + label,
div[data-module-id="aiSuite"] input[type="checkbox"]:not(.image-selection) + label {
    display: inline-block;
    line-height: var(--checkbox-radio-line-height);
    user-select: none;
    cursor: pointer;
    padding-left: 35px;
}

div[data-module-id="aiSuite"] input[type="radio"]:not(.image-selection) + label::before,
div[data-module-id="aiSuite"] input[type="checkbox"]:not(.image-selection) + label::before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -0.1em;
    margin-left: calc(-1 * (var(--checkbox-radio-size) + var(--checkbox-radio-gap)));
    flex-shrink: 0;
    width: var(--checkbox-radio-size);
    height: var(--checkbox-radio-size);
    background-color: white;
    border-width: var(--checkbox-radio-border-width);
    border-color: rgba(240, 156, 66, 0.65);
    border-style: solid;
    box-shadow: 0 0.9px 1.25px hsla(0, 0%, 0%, 0.025),0 3px 5px hsla(0, 0%, 0%, 0.05),0 12px 20px hsla(0, 0%, 0%, 0.09);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: var(--checkbox-radio-gap);
    transition: transform .2s, border .2s;
}

div[data-module-id="aiSuite"] input[type="radio"]:not(:checked):not(:focus) + label:hover::before,
div[data-module-id="aiSuite"] input[type="checkbox"]:not(:checked):not(:focus) + label:hover::before {
    border-color: #A2A2A9;
}

div[data-module-id="aiSuite"] input[type="radio"] + label::before {
    border-radius: 50%;
}

div[data-module-id="aiSuite"] input[type="checkbox"] + label::before {
    border-radius: var(--checkbox-radius);
}

div[data-module-id="aiSuite"] input[type="radio"]:checked + label::before,
div[data-module-id="aiSuite"] input[type="checkbox"]:checked + label::before {
    background-color: #F09C42;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-color: #F09C42;
    transition: transform .2s;
}

div[data-module-id="aiSuite"] input[type="radio"]:active + label::before,
div[data-module-id="aiSuite"] input[type="checkbox"]:active + label::before {
    transform: scale(0.8);
    transition: transform .2s;
}

div[data-module-id="aiSuite"] input[type="radio"]:checked:active + label::before,
div[data-module-id="aiSuite"] input[type="checkbox"]:checked:active + label::before {
    transform: none;
    transition: none;
}

div[data-module-id="aiSuite"] input[type="radio"]:checked + label::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-size: var(--radio-marker-size);
}

div[data-module-id="aiSuite"] input[type="checkbox"]:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
    background-size: var(--checkbox-marker-size);
}

div[data-module-id="aiSuite"] input[type="radio"]:checked:active + label::before,
div[data-module-id="aiSuite"] input[type="checkbox"]:checked:active + label::before,
div[data-module-id="aiSuite"] input[type="radio"]:focus + label::before,
div[data-module-id="aiSuite"] input[type="checkbox"]:focus + label::before {
    border-color: #F09C42;
    box-shadow: 0 0 0 3px rgba(240, 156, 66, 0.2);
}

div[data-module-id="aiSuite"] .form-control:focus {
    border-color: #F09C42;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),0 0 0 0.25rem rgba(240, 156, 66, .25) !important;
}

.text-gradient {
    font-weight: 700;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: #F09C42;
    -webkit-background-clip: text;
}

.calculated-requests {
    font-weight: 600;
    margin-top: 0.25rem;
}

.aisuite-modal .progress-bar {
    background-color: #F09C42 !important;
}

.aisuite-modal .btn-primary {
    background: #F09C42 !important;
    border-color: #F09C42 !important;;
}

div[data-module-id="aiSuite"] .status .badge.ok {
    background-color: forestgreen;
    color: white;
}
div[data-module-id="aiSuite"] .status .badge.warning {
    background-color: orange;
    color: white;
}
div[data-module-id="aiSuite"] .status .badge.critical {
    background-color: darkred;
    color: white;
}


.ai-suite-record-localization span {
    pointer-events: none;
}
