:root {
    --ai-suite-primary-color: #F09C42;
    --ai-suite-button-font-color: #000;
    --ai-suite-border-color: #F09C42;
    --ai-suite-border-secondary-color: #ddd;
    --checkbox-radio-size: 18px;
    --checkbox-radio-gap: 10px;
    --checkbox-radio-border-width: 1px;
    --checkbox-radio-line-height: 1.4;
    --radio-marker-size: 8px;
    --checkbox-marker-size: 12px;
    --checkbox-radius: 4px;
}

div[data-module-id="aiSuite"] {
    .form-check {
        padding-left: 0;
    }

    input[type="checkbox"] {
        width: 17px;
        height: 17px;
        accent-color: var(--ai-suite-primary-color);
        border-color: var(--ai-suite-primary-color);
        --typo3-form-check-border-color: var(--ai-suite-primary-color);
        --typo3-form-check-checked-bg: var(--ai-suite-primary-color);
        --typo3-form-check-checked-border-color: var(--ai-suite-primary-color);
    }

    .form-check-input {
        --typo3-form-check-border-color: var(--ai-suite-primary-color);
        --typo3-form-check-checked-bg: var(--ai-suite-primary-color);
        --typo3-form-check-width: 1rem;
        --typo3-form-check-height: 1rem;
        border-color: var(--ai-suite-primary-color);
        width: 1rem;
        height: 1rem;
        margin: 0;
    }

    .form-check-input:checked,
    .form-check-input:focus {
        --typo3-form-check-border-color: var(--ai-suite-primary-color);
        outline: 0;
        border-color: var(--ai-suite-primary-color);
        box-shadow: 0 0 0 0;
    }
    .form-check-input:checked {
        background-color: var(--ai-suite-primary-color);
    }

    .module-docheader-bar-column-left .btn-group {
        gap: 0.5rem;
    }

    .panel.panel-default {
        overflow: visible;
        .panel-heading {
            border-bottom: 1px solid var(--ai-suite-border-color);

            .panel-title {
                font-size: 0.875rem;
            }
            .panel-button {
                border: none;
                background: transparent;
            }
        }

        .panel-body {
            padding: 1rem;
        }
    }

    .spinner-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        font-weight: 700;
        transition: background-color 0.9s ease-in-out;

        &.active {
            display: flex;
        }

        &.darken {
            background-color: rgba(0, 0, 0, 0.56);

            .spinner,
            .spinner:before,
            .spinner:after {
                opacity: 1;
            }

            .message {
                position: absolute;
                top: 53%;
                font-size: 0.9rem;
            }

            .status {
                position: absolute;
                top: 61%;
                font-size: 0.9rem;
            }
        }

        &.active .cancel {
            display: flex;
            position: absolute;
            top: 56%;
            font-size: 0.9rem;
            animation: show 0s both;
            animation-delay: 0.8s;
        }
    }

    .generation-library {
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            width: 50%;
            height: auto;
            margin: 0;
            padding: 0;
        }

        .library-wrapper label {
            position: relative;
            display: block;
            width: 49%;
            padding: 0.75rem;
            border: 1px solid var(--ai-suite-border-secondary-color);
            border-radius: 0.25rem;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        input[type="radio"]:checked + label {
            background-color: transparent;
            border: 1px solid var(--ai-suite-border-color);
        }

        .icon {
            margin-right: 0.5rem;
            border-radius: 5px;
        }

        .checked-icon {
            position: absolute;
            right: 15px;
            top: 20px;
            display: none;
        }

        input[type="radio"]:checked + label .checked-icon {
            display: block;
        }

        .request-amount {
            font-size: 0.7rem;
        }

        strong {
            font-size: 0.8rem;
        }
    }

    .suggestions {
        .form-check {
            padding: 0.75rem;
            border: 1px solid var(--ai-suite-border-color);
            border-radius: 0.25rem;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.2s ease;
            width: 100%;
            min-height: 50px;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            gap: 0.5rem;
        }
        .form-check:hover {
            border-color: #aaa;
        }

        .form-check-input:checked + .form-check-label,
        .form-check-input:checked + span {
            color: inherit;
        }

        .form-check:has(.form-check-input:checked),
        .form-check.checked {
            border-color: var(--ai-suite-primary-color);
        }
    }

    .image-suggestions {

        .form-check-label.image-label {
            position: relative;
            display: block;
            width: 100%;
            padding: 0;
            border: 1px solid var(--ai-suite-border-color);
            border-radius: 0.25rem;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.2s ease;
            overflow: hidden;
        }

        .form-check-input:checked + .form-check-label.image-label {
            border-color: var(--ai-suite-primary-color);
            box-shadow: 0 0 3px 0 var(--ai-suite-primary-color);
        }

        .form-check-input {
            position: absolute;
            left: -9999px;
        }

        .form-check-label img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s ease;
        }

        .check-icon {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 75px;
            height: 75px;
            background-color: var(--ai-suite-primary-color);
            clip-path: polygon(15% 0%, 100% 0%, 100% 85%);

            .icon {
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }

        .form-check-input:checked + .form-check-label .check-icon {
            display: block;
        }
    }

    .image-preselection {
        img {
            width: 100%;
            height: auto;
        }
    }

    .image-settings-midjourney {
        display: none;
    }

    .btn.btn-primary {
        background-color: var(--ai-suite-primary-color);
        border-color: var(--ai-suite-border-color);
        color: var(--ai-suite-button-font-color);

        svg {
            fill: var(--ai-suite-button-font-color);
        }
    }
    .form-control {
        appearance: auto;

        &:focus {
            border-color: var(--ai-suite-primary-color);
        }
    }

    .form-select:focus {
        outline: none;
        border-color: var(--ai-suite-primary-color);
    }

    form .form-group {
        .spinner-overlay {
            position: absolute;
        }

        .spinner-wrapper {
            width: 100%;
            height: 600px;
        }
    }

    .card {
        overflow: visible;

        &.comming-soon {
            opacity: .5;
        }

        .card-header {
            height: 100%;
        }
    }

    .image-settings label {
        font-size: 0.875rem;
        position: relative;
        width: 100%;
    }

    form[name="content"] {
        .fields-button {
            width: 100%;
            background: var(--ai-suite-primary-color);
            border: none;
            padding: 0.375rem 0.75rem;
            border-radius: 0.125rem;
            font-size: 0.75rem;
            color: white;

            .icon-actions-chevron-up {
                transform: rotate(0deg);
            }

            &.collapsed .icon-actions-chevron-up {
                transform: rotate(180deg);
            }
        }
    }

    .calculated-requests {
        font-weight: 600;
        margin-top: 0.25rem;
    }

    .badge {
        font-size: 0.75rem;
    }
    .badge-default {
        border: 1px solid rgb(191, 191, 191);
    }
    .badge-warning {
        background: transparent;
        padding: 0.5rem;
        border: 1px solid var(--ai-suite-primary-color);
    }

    .status .badge {
        &.ok {
            background-color: forestgreen;
            color: white;
        }

        &.warning {
            background-color: orange;
            color: white;
        }

        &.critical {
            background-color: darkred;
            color: white;
        }
    }

    textarea {
        min-height: 150px;
    }
}

.spinner,
.spinner:before,
.spinner:after {
    text-align: center;
    opacity: 0;
    width: 35px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px inset #fff;
    position: relative;
    animation: 1.5s infinite 0.5s;
    animation-name: l7-1, l7-2;
}

.spinner:before,
.spinner:after {
    content: "";
    position: absolute;
    left: calc(100% + 5px);
    animation-delay: 1s, 0s;
}

.spinner:after {
    left: -40px;
    animation-delay: 0s, 1s;
}

button.add,
button.edit,
button.delete {
    background: transparent;
    border: 1px solid var(--ai-suite-border-color);
    color: var(--ai-suite-button-font-color);

    &:hover {
        background: #cacaca;
    }
}

#backgroundTaskWrapper {
    .page-meta-content-info,
    .file-meta-content-info,
    .file-reference-meta-content-info {
        cursor: pointer;
    }

    .panel {
        .delete-accordion-item span {
            pointer-events: none;
        }

        .error-info svg {
            color: #dc3545;
        }

        .error-info .error-message {
            display: none;
        }

        .panel-heading img {
            height: 100%;
            width: auto;
        }

        .panel-body {
            h3 {
                font-size: 0.85rem;
            }

            button {
                font-size: 0.9rem;
            }
        }
    }
}

#resultsToExecute {
    .badge-finished {
        background-color: #28a745;
        color: white;
    }

    .badge-pending {
        background-color: #17a2b8;
        color: white;
    }

    .badge-task-error {
        background-color: #dc3545;
        color: white;
    }

    button strong {
        pointer-events: none;
    }
    .size-info {
        font-weight: 600;
    }
    .size-info svg {
        color: #dc3545;
    }
}

#sortable-files,
#sortable-file-references {
    .preview-image {
        width: 10%;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }
    }
}

#sortable-files .file-meta-content,
#sortable-file-references .file-reference-meta-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
    width: 90%;
}

#sortable-files .file-meta-content .filelist-input {
    margin-bottom: 5px;
}

#sortable-pages .page-meta-content-info,
#sortable-files .file-meta-content-info,
#sortable-file-references .file-reference-meta-content-info {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sortable-pages .page-meta-content-info span,
#sortable-pages .page-meta-content-info svg,
#sortable-files .file-meta-content-info span,
#sortable-files .file-meta-content-info svg,
#sortable-file-references .file-reference-meta-content-info span,
#sortable-file-references .file-reference-meta-content-info svg,
#sortable-pages-translation .page-translation-content-info span,
#sortable-pages-translation .page-translation-content-info svg {
    pointer-events: none;
}

@keyframes l7-1 {
    0%, 55%, 100% { border-top-left-radius: 0; border-bottom-right-radius: 0 }
    20%, 30% { border-top-left-radius: 50%; border-bottom-right-radius: 50% }
}

@keyframes l7-2 {
    0%, 55%, 100% { border-bottom-left-radius: 0; border-top-right-radius: 0 }
    20%, 30% { border-bottom-left-radius: 50%; border-top-right-radius: 50% }
}

@keyframes show {
    from { visibility: hidden; }
    to { visibility: visible; }
}

.ck-ai-plugin {
    .ck-dialog-headerbar .ck-button-cancel {
        color: var(--ai-suite-button-font-color) !important;
        margin-right: -1rem;
        margin-top: -10px;
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
            background-color: transparent !important;
        }

        &:focus {
            border: 0;
            box-shadow: none;
        }
    }

    .ck-prompt-input textarea {
        width: 100% !important;
        border: 1px solid var(--typo3-text-color-base, #000) !important;
        border-radius: 3px !important;

        &:focus {
            box-shadow: 0 0 0 3px rgba(240, 156, 66, 0.25) !important;
        }
    }

    .ck.ck-dialog-overlay.ck-dialog-overlay__transparent .ck.ck-dialog {
        border-radius: 5px;
    }

    .ck.ck-dropdown .ck-button.ck-dropdown__button {
        width: 100%;
    }

    .ck-prompt-template-dropdown .ck.ck-dropdown {
        width: 100%;
        border: 1px solid var(--typo3-text-color-base, #000);
        border-radius: 3px;

        .ck-button.ck-dropdown__button {
            &:hover,
            &:focus {
                outline: 0;
                box-shadow: 0 0 0 0;
                color: black;
            }

            &,
            .ck-button__label {
                width: 100%;
                color: var(--typo3-text-color-base, #000);
                background: transparent !important;
            }
        }
    }

    .ck-prompt-template-dropdown {
        .ck.ck-button:active,
        .ck.ck-button:focus,
        a.ck.ck-button:active,
        a.ck.ck-button:focus {
            outline: 0;
            box-shadow: 0 0 0 0;
            border-color: transparent;
        }
    }

    .ck-save-button .ck.ck-button.ck-button_with-text {
        background: var(--ai-suite-primary-color);
        color: var(--ai-suite-button-font-color);
        border: 1px solid var(--ai-suite-button-font-color);
        border-radius: 3px;
        padding: 0.375rem 0.75rem;
        font-size: 0.75rem;
        transition: all ease-in-out .3s;
        cursor: pointer;
    }
    .ck-button.ck-button-cancel svg{
        color: var(--ai-suite-button-font-color) !important;
    }

    .ck-radio-button-group label {
        user-select: none;
        margin-bottom: 0.5rem;
        margin-right: 1.5rem !important;

        input[type="radio"] {
            position: absolute;
            opacity: 0;
            display: none;
            cursor: pointer;
        }

        .checkmark {
            position: relative;
            height: 20px;
            width: 20px;
            background-color: #bbb;
            border-radius: 5px;

            &:after {
                content: "";
                position: absolute;
                display: none;
                top: 4px;
                left: 4px;
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
                background-size: var(--checkbox-marker-size);
                background-repeat: no-repeat;
            }
        }

        &:hover input[type="radio"] ~ .checkmark {
            background-color: #ccc;
        }

        input[type="radio"]:checked ~ .checkmark {
            &:after {
                display: block;
            }
        }
    }

    .ck.ck-dialog__actions {
        padding: 0 !important;
    }
    .ck.ck-button-global-instructions {
        border: 1px solid var(--typo3-text-color-base, #000) !important;
        border-radius: 3px !important;
        margin-left: 0.5rem !important;
        padding: 0 0.5rem !important;
    }
}

.ck-spinner-wrapper {
    .spinner-wrapper {
        width: 600px !important;
        height: 400px !important;
        position: relative !important;
        overflow: hidden !important;
    }

    .spinner-overlay {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
        flex-wrap: wrap !important;
        background-color: transparent !important;
        color: #fff !important;
        font-weight: 700 !important;
        transition: background-color .9s ease-in-out !important;

        &.darken {
            background-color: rgba(0, 0, 0, .75) !important;

            .spinner,
            .spinner:after,
            .spinner:before {
                opacity: 1 !important;
            }

            .message {
                position: absolute !important;
                top: 54% !important;
                font-size: .9rem !important;
                color: #fff !important;
                font-weight: 700 !important;
            }
        }
    }

    .spinner,
    .spinner:after,
    .spinner:before {
        text-align: center !important;
        opacity: 0 !important;
        width: 35px !important;
        aspect-ratio: 1 !important;
        box-shadow: 0 0 0 3px inset #fff !important;
        position: relative !important;
        animation: 1.5s .5s infinite !important;
        animation-name: l7-1, l7-2 !important;
    }

    .spinner:after,
    .spinner:before {
        content: "" !important;
        position: absolute !important;
        left: calc(100% + 5px) !important;
        animation-delay: 1s, 0s !important;
    }

    .spinner:after {
        left: -40px !important;
        animation-delay: 0s, 1s !important;
    }
}

.ai-suite-record-localization span {
    pointer-events: none;
}

div[data-module-id="aiSuite"] .panel .caret,
div[data-module-id="aiSuite"] .panel .open-accordion-item {
    transition: transform 0.3s ease;
}

div[data-module-id="aiSuite"] .panel-button[aria-expanded="false"] .caret,
div[data-module-id="aiSuite"] .panel-button[aria-expanded="false"] .open-accordion-item svg {
    transform: rotate(180deg);
}

div[data-module-id="aiSuite"] .translation-tasks .hover-highlight:hover {
    background-color: rgba(240, 156, 66, 0.5);
}
div[data-module-id="aiSuite"] .translation-tasks .bg-warning {
    background-color: #fcf8e3;
}
div[data-module-id="aiSuite"] .table-responsive {
    max-width: 100%;
    overflow-x: scroll;
}
