.ai-suite#wizardSlideOne label,
.ai-suite#wizardSlideOne input,
.ai-suite#wizardSlideOne #aiSuiteGenerateImageBtn {
    font-size: 0.875rem;
}

.ai-suite#wizardSlideOne .card.comming-soon {
    opacity: .5;
}

.ai-suite#wizardSlideOne .card .card-header {
    height: 100%;
}
.ai-suite#wizardSlideOne .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.ai-suite#wizardSlideOne .btn-primary svg,
.ai-suite#wizardSlideOne .btn-secondary svg {
    fill: #fff;
}

.ai-suite#wizardSlideOne .form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

.ai-suite#wizardSlideOne .code-preview {
    background-color: black;
    color: #ffc700;
}

.ai-suite#wizardSlideOne .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #00000000;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.9s ease-in-out;
}
.ai-suite#wizardSlideOne .spinner-overlay.active {
    display: flex;
}
.ai-suite#wizardSlideOne .spinner-overlay.darken {
    background-color: #0000008f;
}

.ai-suite#wizardSlideOne .spinner {
    text-align: center;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}
.ai-suite#wizardSlideOne .spinner-overlay.darken .spinner {
    opacity: 1;
}

.ai-suite#wizardSlideOne .request-state span {
    font-size: 0.7rem;
}
.ai-suite#wizardSlideOne textarea {
    min-height: 150px;
}

#introductionVideoLink {
    border: none;
    background: linear-gradient(90deg, rgba(238,70,36,1) 0%, rgba(252,168,68,1) 100%);
    transition: all ease-in-out 0.3s;
}

.ai-suite#wizardSlideOne .btn.btn-primary,
.t3js-ai-suite-image-generation-add-btn {
    background: linear-gradient(90deg, rgba(238,70,36,1) 0%, rgba(252,168,68,1) 100%);
    color: white;
    border: none;
}

.t3js-ai-suite-image-generation-add-btn:hover {
    color: white
}


.ai-suite#wizardSlideOne .badge-warning {
    background: #f2f2f2;
    color: black;
}

.ai-suite#wizardSlideTwo .image-suggestions .input-hidden:checked + label {
    border: 2px solid #F09C42 !important;;
    box-shadow: #ff8700 0px 0px 2px 0 !important;
}

.ai-suite#wizardSlideTwo .image-suggestions input[type="radio"] + label > div.icon {
    border-radius: 0 !important;
    left: unset !important;
    right: -1px !important;
    top: -1px !important;
    background-color: #F09C42 !important;
    transform: none !important;
    clip-path: polygon(15% 0%,100% 0%,100% 85%) !important;
}
.ai-suite#wizardSlideTwo .image-suggestions input[type="radio"] + label > div.icon span.icon {
    top: 5px !important;
    right: 0 !important;
    transform: none !important;
}

.ai-suite#wizardSlideTwo .image-suggestions input[type=radio] + label>img {
    border: none !important;
}

.ai-suite#wizardSlideTwo .image-suggestions input[type=radio]:checked + label>img {
    box-shadow: 0 0 3px 0 #F09C42 !important;
    border: none !important;
}

.ai-suite#wizardSlideTwo .image-suggestions input[type=radio] + label>img {
    border: 1px solid #444;
}

.text-generation-library,
.image-generation-library,
.translate-generation-library {
    margin-left: 0;
    label {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0.75rem 0.5rem 0.75rem 2.25rem !important;

        .request-amount {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            font-size: 0.8rem;
            background: linear-gradient(90deg, rgba(238,70,36,1) 0%, rgba(252,168,68,1) 100%);
            height: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            min-width: 100px;
            color: white;
            font-weight: 600;
        }
    }
}

.text-generation-library label,
.image-generation-library label,
.translate-generation-library label,
.ai-suite#wizardSlideTwo .image-title-suggestions label {
    background-color: #fefefe !important;
    border: 1px solid #bbb !important;
    border-radius: 0.125rem !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
}

.text-generation-library label:hover,
.image-generation-library label:hover,
.ai-suite#wizardSlideTwo .image-title-suggestions label:hover {
    background-color: #f9f9f9 !important;
}

.ai-suite#wizardSlideOne .btn.btn-secondary {
    background: #F09C42;
    border: none;
}

.ai-suite#wizardSlideOne .fields-button {
    background: linear-gradient(90deg, rgba(238,70,36,1) 0%, rgba(252,168,68,1) 100%);
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    color: white;
}

.ai-suite#wizardSlideOne button:not(.btn) {
    background: #F09C42;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    color: white;
    transition: all ease-in-out .3s;
}

.ai-suite#wizardSlideOne button:not(.btn):hover {
    background: #EE4524;
}

.ai-suite#wizardSlideOne button.add,
.ai-suite#wizardSlideOne button.edit,
.ai-suite#wizardSlideOne button.delete {
    background: #eee;
    border: 1px solid #bbb;
    color: #000;
}

.ai-suite#wizardSlideOne button.add:hover,
.ai-suite#wizardSlideOne button.edit:hover,
.ai-suite#wizardSlideOne button.delete:hover{
    background: #cacaca;
}


:root {

    --checkbox-radio-size: 18px;
    --checkbox-radio-gap: 10px;
    --checkbox-radio-border-width: 1px;
    --checkbox-radio-line-height: 1.4;

    --radio-marker-size: 8px;

    --checkbox-marker-size: 12px;
    --checkbox-radius: 4px;
}

.ai-suite#wizardSlideOne:not(.image-selection) input[type="radio"],
.ai-suite#wizardSlideOne:not(.image-selection) input[type="checkbox"] {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: calc((1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2);
    opacity: 0;
    height: var(--checkbox-radio-size);
    width: 100%;
}

.ai-suite#wizardSlideOne input[type="radio"]:not(.image-selection) + label,
.ai-suite#wizardSlideOne input[type="checkbox"]:not(.image-selection) + label {
    display: inline-block;
    line-height: var(--checkbox-radio-line-height);
    user-select: none;
    cursor: pointer;
    padding-left: calc(var(--checkbox-radio-size) + var(--checkbox-radio-gap));
}

.ai-suite#wizardSlideOne input[type="radio"]:not(.image-selection) + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:not(.image-selection) + label::before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -0.1em;
    margin-left: calc(-1 * (var(--checkbox-radio-size) + var(--checkbox-radio-gap)));
    flex-shrink: 0;
    width: var(--checkbox-radio-size);
    height: var(--checkbox-radio-size);
    background-color: white;
    border-width: var(--checkbox-radio-border-width);
    border-color: rgba(240, 156, 66, 0.65);
    border-style: solid;
    box-shadow: 0 0.9px 1.25px hsla(0, 0%, 0%, 0.025),0 3px 5px hsla(0, 0%, 0%, 0.05),0 12px 20px hsla(0, 0%, 0%, 0.09);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: var(--checkbox-radio-gap);
    transition: transform .2s, border .2s;
}

.ai-suite#wizardSlideOne input[type="radio"]:not(:checked):not(:focus) + label:hover::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:not(:checked):not(:focus) + label:hover::before {
    border-color: #A2A2A9;
}

.ai-suite#wizardSlideOne input[type="radio"] + label::before {
    border-radius: 50%;
}

.ai-suite#wizardSlideOne input[type="checkbox"] + label::before {
    border-radius: var(--checkbox-radius);
}

.ai-suite#wizardSlideOne input[type="radio"]:checked + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:checked + label::before {
    background-color: #F09C42;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-color: #F09C42;
    transition: transform .2s;
}

.ai-suite#wizardSlideOne input[type="radio"]:active + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:active + label::before {
    transform: scale(0.8);
    transition: transform .2s;
}

.ai-suite#wizardSlideOne input[type="radio"]:checked:active + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:checked:active + label::before {
    transform: none;
    transition: none;
}

.ai-suite#wizardSlideOne input[type="radio"]:checked + label::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-size: var(--radio-marker-size);
}

.ai-suite#wizardSlideOne input[type="checkbox"]:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
    background-size: var(--checkbox-marker-size);
}

.ai-suite#wizardSlideOne input[type="radio"]:checked:active + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:checked:active + label::before,
.ai-suite#wizardSlideOne input[type="radio"]:focus + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:focus + label::before {
    border-color: #F09C42;
    box-shadow: 0 0 0 3px rgba(240, 156, 66, 0.2);
}

.ai-suite#wizardSlideTwo .image-title-suggestions input[type=radio]:checked + label {
    border: 1px solid #F09C42 !important;
    background-color: rgba(240, 156, 66, 0.4) !important;
}

.ai-suite#wizardSlideOne .form-control:focus {
    border-color: #F09C42;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),0 0 0 0.25rem rgba(240, 156, 66, .25) !important;
}


.text-gradient {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg,#ef4625,#fcaa45);
    -webkit-background-clip: text;
}

.aisuite-modal.modal-severity-info .modal-header {
    background: #F09C42 !important;
    border-bottom-color: #F09C42 !important;
}


.aisuite-modal .progress-bar {
    background-color: #F09C42 !important;
}

.aisuite-modal .btn-primary {
    background: #F09C42 !important;
    border-color: #F09C42 !important;;
}
