:root {
    --checkbox-radio-size: 18px;
    --checkbox-radio-line-height: 1.4;
}
.ai-suite#wizardSlideOne label {
    font-size: 0.875rem;
    position: relative;
    width: 100%;
}

.ai-suite#wizardSlideOne input,
.ai-suite#wizardSlideOne #aiSuiteGenerateImageBtn {
    font-size: 0.875rem;
}
.ai-suite#wizardSlideOne .card-container {
    display: block;
}

.ai-suite#wizardSlideOne .card-container .card {
    margin-left: 0;
}
.ai-suite#wizardSlideOne select {
    font-size: 0.875rem;
    padding: 0.5rem;
}

.ai-suite#wizardSlideOne .image-settings-midjourney {
    display: none;
}

.ai-suite#wizardSlideOne .btn-primary svg {
    fill: #fff;
}

.ai-suite#wizardSlideOne .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #00000000;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.9s ease-in-out;
}
.ai-suite#wizardSlideOne .spinner-overlay.active {
    display: flex;
}
.ai-suite#wizardSlideOne .spinner-overlay.darken {
    background-color: #0000008f;
}

.ai-suite#wizardSlideOne .spinner {
    text-align: center;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}
.ai-suite#wizardSlideOne .spinner-overlay.darken .spinner {
    opacity: 1;
}

.ai-suite#wizardSlideOne .request-state span {
    font-size: 0.7rem;
}
.ai-suite#wizardSlideOne textarea {
    min-height: 150px;
}

.ai-suite#wizardSlideOne .btn.btn-primary,
.t3js-ai-suite-image-generation-add-btn {
    background: #F09C42;
    color: black;
    border: none;
}

.t3js-ai-suite-image-generation-add-btn:hover {
    color: white
}

.ai-suite#wizardSlideOne .badge-warning {
    background: #f2f2f2;
    color: black;
}

.translate-generation-library label,
.image-generation-library label,
.text-generation-library label {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem !important;
    border: 1px solid #bbb !important;
    border-radius: 0.125rem !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
    background-color: var(--module-docheader-bg) !important;
}
.translate-generation-library .icon,
.image-generation-library .icon,
.text-generation-library .icon {
    margin-right: 0.5rem;
    border-radius: 5px;
}
.translate-generation-library .checked-icon .icon,
.image-generation-library .checked-icon .icon,
.text-generation-library .checked-icon .icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
}
.translate-generation-library label .request-amount,
.image-generation-library label .request-amount,
.text-generation-library label .request-amount {
    font-size: 0.7rem;
}
.translate-generation-library label strong,
.image-generation-library label strong,
.text-generation-library label strong {
    font-size: 0.8rem;
}

.ai-suite#wizardSlideOne input[type="radio"]:checked + label {
    background-color: var(--typo3-card-bg) !important;
    .checked-icon .icon {
        display: block;
    }
}
.ai-suite#wizardSlideOne input[type="radio"]:checked + label img.checked-icon {
    display: block;
}

.ai-suite#wizardSlideOne .btn.btn-secondary {
    background: #F09C42;
    border: none;
    color: black;
}

.ai-suite#wizardSlideOne .fields-button {
    background: #F09C42;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    color: black;
}

.ai-suite#wizardSlideOne button:not(.btn) {
    background: #F09C42;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    color: white;
    transition: all ease-in-out .3s;
}

.ai-suite#wizardSlideOne button.add,
.ai-suite#wizardSlideOne button.edit,
.ai-suite#wizardSlideOne button.delete {
    background: #eee;
    border: 1px solid #bbb;
    color: #000;
}

.ai-suite#wizardSlideOne button.add:hover,
.ai-suite#wizardSlideOne button.edit:hover,
.ai-suite#wizardSlideOne button.delete:hover{
    background: #cacaca;
}

.ai-suite#wizardSlideOne:not(.image-selection) input[type="radio"] {
    position: absolute;
    padding: 0;
    margin: calc((1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2) 0 0;
    opacity: 0;
    height: var(--checkbox-radio-size);
    width: 100%;
}

.ai-suite#wizardSlideOne .form-control:focus {
    border-color: #F09C42;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),0 0 0 0.25rem rgba(240, 156, 66, .25) !important;
}


.text-gradient {
    font-weight: 700;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: #F09C42;
    -webkit-background-clip: text;
}

.aisuite-modal .progress-bar {
    background-color: #F09C42;
}

.aisuite-modal .btn-primary {
    background: #F09C42;
}
