:root {
    --checkbox-radio-size: 18px;
    --checkbox-radio-gap: 10px;
    --checkbox-radio-border-width: 1px;
    --checkbox-radio-line-height: 1.4;
    --radio-marker-size: 8px;
    --checkbox-marker-size: 12px;
    --checkbox-radius: 4px;
}
.ai-suite#wizardSlideOne label {
    font-size: 0.875rem;
    position: relative;
    width: 100%;
}

.ai-suite#wizardSlideOne input,
.ai-suite#wizardSlideOne #aiSuiteGenerateImageBtn {
    font-size: 0.875rem;
}
.ai-suite#wizardSlideOne .card-container {
    display: block;
}
.ai-suite#wizardSlideOne .card-container .row {
    margin-right: -15px;
}
.ai-suite#wizardSlideOne .card-container .card {
    margin-left: 0;
}
.ai-suite#wizardSlideOne select {
    font-size: 0.875rem;
    padding: 0.5rem;
}
.ai-suite#wizardSlideOne .text-generation-library,
.ai-suite#wizardSlideOne .image-generation-library,
.ai-suite#wizardSlideOne .translate-generation-library,
.ai-suite#wizardSlideOne .prompt-settings,
.ai-suite#wizardSlideOne .image-settings {
    margin-left: 0;
}

.ai-suite#wizardSlideOne .image-settings-midjourney {
    display: none;
}

.ai-suite#wizardSlideOne .btn-primary svg {
    fill: #fff;
}

.ai-suite#wizardSlideOne .form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

.ai-suite#wizardSlideOne .tooltip {
    position: absolute;
    right: 0;
    display: inline-block;
    opacity: 1;
    width: 16px;
    height: 16px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    top: 4px;
    font-size: 12px;
}

.ai-suite#wizardSlideOne .tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    top: -5px;
    right: 105%;
}

.ai-suite#wizardSlideOne .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.ai-suite#wizardSlideOne .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #00000000;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.9s ease-in-out;
}
.ai-suite#wizardSlideOne .spinner-overlay.active {
    display: flex;
}
.ai-suite#wizardSlideOne .spinner-overlay.darken {
    background-color: #0000008f;
}

.ai-suite#wizardSlideOne .spinner {
    text-align: center;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}
.ai-suite#wizardSlideOne .spinner-overlay.darken .spinner {
    opacity: 1;
}

.ai-suite#wizardSlideOne .request-state span {
    font-size: 0.7rem;
}
.ai-suite#wizardSlideOne textarea {
    min-height: 150px;
}

.ai-suite#wizardSlideOne .btn.btn-primary,
.t3js-ai-suite-image-generation-add-btn {
    background: #F09C42;
    color: black;
    border: none;
}

.t3js-ai-suite-image-generation-add-btn:hover {
    color: white
}

.ai-suite#wizardSlideOne .badge-warning {
    background: #f2f2f2;
    color: black;
}

.text-generation-library label,
.image-generation-library label,
.translate-generation-library label {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0.5rem 0.75rem 2.25rem !important;
    background-color: #fefefe !important;
    border: 1px solid #bbb !important;
    border-radius: 0.125rem !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) !important;
}

.text-generation-library label:hover,
.image-generation-library label:hover {
    background-color: #f9f9f9 !important;
}

.text-generation-library label .request-amount,
.image-generation-library label .request-amount,
.translate-generation-library label .request-amount {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 0.8rem;
    background: #F09C42;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 100px;
    color: black;
    font-weight: 600;
}

.ai-suite#wizardSlideOne .btn.btn-secondary {
    background: #F09C42;
    border: none;
    color: black;
}

.ai-suite#wizardSlideOne .fields-button {
    background: #F09C42;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    color: black;
}

.ai-suite#wizardSlideOne button:not(.btn) {
    background: #F09C42;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    color: white;
    transition: all ease-in-out .3s;
}

.ai-suite#wizardSlideOne button:not(.btn):hover {
    background: #EE4524;
}

.ai-suite#wizardSlideOne button.add,
.ai-suite#wizardSlideOne button.edit,
.ai-suite#wizardSlideOne button.delete {
    background: #eee;
    border: 1px solid #bbb;
    color: #000;
}

.ai-suite#wizardSlideOne button.add:hover,
.ai-suite#wizardSlideOne button.edit:hover,
.ai-suite#wizardSlideOne button.delete:hover{
    background: #cacaca;
}

.ai-suite#wizardSlideOne:not(.image-selection) input[type="radio"],
.ai-suite#wizardSlideOne:not(.image-selection) input[type="checkbox"] {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: calc((1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2);
    opacity: 0;
    height: var(--checkbox-radio-size);
    width: 100%;
}

.ai-suite#wizardSlideOne input[type="radio"]:not(.image-selection) + label,
.ai-suite#wizardSlideOne input[type="checkbox"]:not(.image-selection) + label {
    display: inline-block;
    line-height: var(--checkbox-radio-line-height);
    user-select: none;
    cursor: pointer;
    padding-left: calc(var(--checkbox-radio-size) + var(--checkbox-radio-gap));
}

.ai-suite#wizardSlideOne input[type="radio"]:not(.image-selection) + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:not(.image-selection) + label::before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -0.1em;
    margin-left: calc(-1 * (var(--checkbox-radio-size) + var(--checkbox-radio-gap)));
    flex-shrink: 0;
    width: var(--checkbox-radio-size);
    height: var(--checkbox-radio-size);
    background-color: white;
    border-width: var(--checkbox-radio-border-width);
    border-color: rgba(240, 156, 66, 0.65);
    border-style: solid;
    box-shadow: 0 0.9px 1.25px hsla(0, 0%, 0%, 0.025),0 3px 5px hsla(0, 0%, 0%, 0.05),0 12px 20px hsla(0, 0%, 0%, 0.09);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: var(--checkbox-radio-gap);
    transition: transform .2s, border .2s;
}

.ai-suite#wizardSlideOne input[type="radio"]:not(:checked):not(:focus) + label:hover::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:not(:checked):not(:focus) + label:hover::before {
    border-color: #A2A2A9;
}

.ai-suite#wizardSlideOne input[type="radio"] + label::before {
    border-radius: 50%;
}

.ai-suite#wizardSlideOne input[type="checkbox"] + label::before {
    border-radius: var(--checkbox-radius);
}

.ai-suite#wizardSlideOne input[type="radio"]:checked + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:checked + label::before {
    background-color: #F09C42;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-color: #F09C42;
    transition: transform .2s;
}

.ai-suite#wizardSlideOne input[type="radio"]:active + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:active + label::before {
    transform: scale(0.8);
    transition: transform .2s;
}

.ai-suite#wizardSlideOne input[type="radio"]:checked:active + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:checked:active + label::before {
    transform: none;
    transition: none;
}

.ai-suite#wizardSlideOne input[type="radio"]:checked + label::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-size: var(--radio-marker-size);
}

.ai-suite#wizardSlideOne input[type="checkbox"]:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
    background-size: var(--checkbox-marker-size);
}

.ai-suite#wizardSlideOne input[type="radio"]:checked:active + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:checked:active + label::before,
.ai-suite#wizardSlideOne input[type="radio"]:focus + label::before,
.ai-suite#wizardSlideOne input[type="checkbox"]:focus + label::before {
    border-color: #F09C42;
    box-shadow: 0 0 0 3px rgba(240, 156, 66, 0.2);
}

.ai-suite#wizardSlideOne .form-control:focus {
    border-color: #F09C42;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),0 0 0 0.25rem rgba(240, 156, 66, .25) !important;
}


.text-gradient {
    font-weight: 700;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background: #F09C42;
    -webkit-background-clip: text;
}

.aisuite-modal .progress-bar {
    background-color: #F09C42;
}

.aisuite-modal .btn-primary {
    background: #F09C42;
}
