<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Module" />

<f:section name="Content">
    <f:asset.css identifier="manage-custom-prompt-templates-search-form" href="EXT:ai_suite/Resources/Public/Css/PromptManager/prompt-manager-styles.css" />

    <h1 class="mb-2">
        <f:translate key="AiSuite.module.promptTemplateManager.managePromptTemplates.header" extensionName="ai_suite"/>
    </h1>
    <br />
    <div class="recordlist">
        <div class="recordlist-heading multi-record-selection-panel">
            <div class="recordlist-heading-row">
                <div class="recordlist-heading-title">
                    <f:translate key="tx_aisuite.module.dashboard.card.managePromptTemplates.customPromptTemplatesLabel" extensionName="ai_suite"/> (<f:count subject="{customPromptTemplates}" />)
                </div>
                <be:link.newRecord
                    table="tx_aisuite_domain_model_custom_prompt_template"
                    returnUrl="{f:be.uri(route: 'ai_suite_prompt_manage_customprompttemplates', parameters: '{id: pid}')}"
                    class="btn btn-default"
                    pid="{pid}"
                >
                    <core:icon identifier="actions-page-new" size="small"/>
                    <f:translate key="AiSuite.module.promptTemplateManager.managePromptTemplates.createNewPromptTemplate" extensionName="ai_suite"/>
                </be:link.newRecord>
                <form action="{f:be.uri(route: 'ai_suite_prompt_manage_customprompttemplates', parameters: '{id: pid}')}" name="input" enctype="multipart/form-data" method="POST" class="manage-custom-prompt-templates-search-form">
                    <input type="text" id="search" name="search" value="{search}" class="form-control" placeholder="{f:translate(key: 'AiSuite.module.promptTemplateManager.managePromptTemplates.searchPlaceholder', extensionName: 'ai_suite')}"/>
                    <input type="submit" value="{f:translate(key: 'AiSuite.module.promptTemplateManager.managePromptTemplates.searchSubmit', extensionName: 'ai_suite')}" class="btn btn-primary"/>
                    <a href="{f:be.uri(route: 'ai_suite_prompt_manage_customprompttemplates', parameters: '{id: pid}')}"
                       class="btn btn-default"
                       title="{f:translate(key: 'AiSuite.module.promptTemplateManager.managePromptTemplates.searchReset', extensionName: 'ai_suite')}"
                    >
                        <f:translate key="AiSuite.module.promptTemplateManager.managePromptTemplates.searchReset" extensionName="ai_suite"/>
                    </a>
                </form>
            </div>
        </div>
        <div class="">
            <div class="table-fit">
                <table class="table product-table table-striped recordlist">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            <f:translate key="tx_aisuite.module.dashboard.card.managePromptTemplates.name" extensionName="ai_suite"/>
                        </th>
                        <th scope="col">
                            <f:translate key="tx_aisuite.module.dashboard.card.managePromptTemplates.scope" extensionName="ai_suite"/>
                        </th>
                        <th scope="col">
                            <f:translate key="tx_aisuite.module.dashboard.card.managePromptTemplates.cTypeScope" extensionName="ai_suite"/>
                        </th>
                        <th scope="col">
                            <f:translate key="tx_aisuite.module.dashboard.card.managePromptTemplates.language" extensionName="ai_suite"/>
                        </th>
                        <th scope="col">
                            <f:translate key="tx_aisuite.module.dashboard.card.managePromptTemplates.actions" extensionName="ai_suite"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:if condition="{customPromptTemplates -> f:count()} == 0">
                        <tr>
                            <td colspan="6">
                                <f:translate key="tx_aisuite.module.dashboard.card.managePromptTemplates.noRecordsFound" extensionName="ai_suite"/>
                            </td>
                        </tr>
                    </f:if>
                    <f:for each="{customPromptTemplates}" as="template">
                        <tr>
                            <td width="20px">
                                <core:icon identifier="tx-aisuite-extension" size="small" />
                            </td>
                            <td>
                                <be:link.editRecord
                                    table="tx_aisuite_domain_model_custom_prompt_template"
                                    title="{f:translate(key: 'tx_aisuite.module.dashboard.card.managePromptTemplates.actions.editLabel', extensionName: 'ai_suite')}"
                                    uid="{template.uid}"
                                    returnUrl="{f:be.uri(route: 'ai_suite_prompt_manage_customprompttemplates', parameters: '{id: pid}')}"
                                >
                                    {template.name}
                                </be:link.editRecord>
                            </td>
                            <td>
                                <f:translate key="tx_aisuite.module.dashboard.card.managePromptTemplates.scope{template.scope -> f:format.case(mode: 'capital')}" extensionName="ai_suite"/>
                            </td>
                            <td>
                                {template.type}
                            </td>
                            <td>
                                <f:if condition="{template.flag} != ''">
                                    <f:then>
                                        <core:icon identifier="{template.flag}"/>
                                    </f:then>
                                    <f:else>
                                        {template.sys_language_uid}
                                    </f:else>
                                </f:if>
                            </td>
                            <td>
                                <be:link.editRecord
                                    table="tx_aisuite_domain_model_custom_prompt_template"
                                    title="{f:translate(key: 'tx_aisuite.module.dashboard.card.managePromptTemplates.actions.editLabel', extensionName: 'ai_suite')}"
                                    uid="{template.uid}"
                                    returnUrl="{f:be.uri(route: 'ai_suite_prompt_manage_customprompttemplates', parameters: '{id: pid}')}"
                                    class="btn btn-default"
                                >
                                    <core:icon identifier="actions-open" size="small"/>
                                </be:link.editRecord>
                                <f:if condition="{template.hidden}">
                                    <f:then>
                                        <a href="{f:be.uri(route: 'ai_suite_prompt_activate_customprompttemplates', parameters: '{recordId: template.uid, id: pid}')}"
                                           title="{f:translate(key: 'tx_aisuite.module.dashboard.card.managePromptTemplates.actions.activateLabel', extensionName: 'ai_suite')}"
                                           class="btn btn-default"
                                        >
                                            <core:icon identifier="actions-toggle-off" size="small"/>
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <a href="{f:be.uri(route: 'ai_suite_prompt_deactivate_customprompttemplates', parameters: '{recordId: template.uid, id: pid}')}"
                                           title="{f:translate(key: 'tx_aisuite.module.dashboard.card.managePromptTemplates.actions.deactivateLabel', extensionName: 'ai_suite')}"
                                           class="btn btn-default"
                                        >
                                            <core:icon identifier="actions-toggle-on" size="small"/>
                                        </a>
                                    </f:else>
                                </f:if>
                                <a href="{f:be.uri(route: 'ai_suite_prompt_delete_customprompttemplates', parameters: '{recordId: template.uid, id: pid}')}"
                                   title="{f:translate(key: 'tx_aisuite.module.dashboard.card.managePromptTemplates.actions.deleteLabel', extensionName: 'ai_suite')}"
                                   class="btn btn-default"
                                >
                                    <core:icon identifier="actions-delete" size="small"/>
                                </a>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</f:section>
</html>
