<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      {namespace core=TYPO3\CMS\Core\ViewHelpers}
      {namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">
    <f:asset.css identifier="backend-aisuite-sortable-styles" href="EXT:ai_suite/Resources/Public/Css/sortable.css" />

    <div class="row">
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="panel-title fw-bold">
                        <core:icon identifier="content-menu-pages" />
                        <f:translate key="tx_aisuite.module.dashboard.card.massActionPages.title" extensionName="ai_suite"/>
                    </label>
                </div>
                <div class="panel-body">
                    <p class="mb-4">
                        <f:translate key="tx_aisuite.module.dashboard.card.massActionPages.description" extensionName="ai_suite"/>
                    </p>
                    <form method="POST" action="pagesPrepareExecute" name="pagesPrepareExecute">
            <div class="row">
                <div class="col-md-4">
                    <f:render partial="Libs/PagesSelect" arguments="{pagesSelect: pagesSelect, propertyName: 'massActionPagesPrepare[startFromPid]', label: 'tx_aisuite.module.preparePages.pageChooser', selected: selectedPageId}" />
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="fw-bold mb-2">
                            <f:translate key="tx_aisuite.module.preparePages.pageType" extensionName="ai_suite"/>
                        </label>
                        <select name="massActionPagesPrepare[pageType]" class="form-select" id="pageType">
                            <f:for each="{pageTypes}" as="pageType" key="value">
                                <f:if condition="{preSelection} && {preSelection.pageType} == {value}">
                                    <f:then>
                                        <option value="{value}" selected="selected">{pageType}</option>
                                    </f:then>
                                    <f:else>
                                        <option value="{value}">{pageType}</option>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="fw-bold mb-2">
                            <f:translate key="tx_aisuite.module.preparePages.depth" extensionName="ai_suite"/>
                        </label>
                        <select name="massActionPagesPrepare[depth]" class="form-select" id="depth">
                            <f:for each="{depths}" as="depth" key="value">
                                <f:if condition="{preSelection} && {preSelection.depth} == {value}">
                                    <f:then>
                                        <option value="{value}" selected="selected">{depth}</option>
                                    </f:then>
                                    <f:else>
                                        <option value="{value}">{depth}</option>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="fw-bold mb-2">
                                <f:translate key="tx_aisuite.module.preparePages.column" extensionName="ai_suite"/>
                            </label>
                            <select name="massActionPagesPrepare[column]" class="form-select" id="column">
                                <f:for each="{columns}" as="column" key="value">
                                    <f:if condition="{preSelection} && {preSelection.column} == {value}">
                                        <f:then>
                                            <option value="{value}" selected="selected">{column}</option>
                                        </f:then>
                                        <f:else>
                                            <option value="{value}">{column}</option>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="fw-bold mb-2">
                        <f:translate key="tx_aisuite.module.preparePages.sysLanguages" extensionName="ai_suite"/>
                    </label>
                    <select name="massActionPagesPrepare[sysLanguage]" class="form-select" id="sysLanguage">
                        <f:for each="{sysLanguages}" as="sysLanguage" key="value">
                            <f:if condition="{preSelection} && {preSelection.sysLanguage} == {value}">
                                <f:then>
                                    <option value="{value}" selected="selected">{sysLanguage}</option>
                                </f:then>
                                <f:else>
                                    <option value="{value}">{sysLanguage}</option>
                                </f:else>
                            </f:if>
                        </f:for>
                    </select>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <label class="fw-bold d-flex gap-2 my-3">
                        <f:if condition="{preSelection} && {preSelection.showOnlyEmpty}">
                            <f:then>
                                <input type="checkbox" name="massActionPagesPrepare[showOnlyEmpty]" id="showOnlyEmpty" value="1" checked="checked"/>
                            </f:then>
                            <f:else>
                                <input type="checkbox" name="massActionPagesPrepare[showOnlyEmpty]" id="showOnlyEmpty" value="1"/>
                            </f:else>
                        </f:if>
                        <span>
                            <f:translate key="tx_aisuite.module.preparePages.showOnlyEmpty" extensionName="ai_suite"/>
                        </span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="{f:translate(key: 'tx_aisuite.module.preparePages.showPrepareResults', extensionName: 'ai_suite')}" />
                </div>
            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section id="resultsToExecute">

    </section>
    <f:render partial="Spinner" arguments="{messageKey: 'tx_aisuite.module.general.spinner.massActionPages'}" />
</f:section>
