:root {
    --ai-suite-primary-color: #F09C42;
    --ai-suite-button-font-color: #000;
    --ai-suite-border-color: #ddd;
}
.wizard-slide .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-weight: 700;
    transition: background-color 0.9s ease-in-out;
}

.wizard-slide .spinner-overlay.active {
    display: flex;
}

.wizard-slide .spinner-overlay.darken {
    background-color: rgba(0, 0, 0, 0.56);
}

.wizard-slide .spinner {
    text-align: center;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

.wizard-slide .spinner-overlay.darken .spinner {
    opacity: 1;
}

.wizard-slide .generation-library input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
}

.wizard-slide .generation-library .library-wrapper label {
    position: relative;
    display: block;
    width: 49%;
    padding: 0.75rem;
    border: 1px solid var(--ai-suite-border-color);
    border-radius: 0.25rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.wizard-slide .generation-library input[type="radio"]:checked + label {
    background-color: transparent;
    border-color: var(--ai-suite-primary-color);
}

.wizard-slide .generation-library .icon {
    margin-right: 0.5rem;
    border-radius: 5px;
}

.wizard-slide .generation-library .checked-icon {
    position: absolute;
    right: 15px;
    top: 20px;
    display: none;
}

.wizard-slide .generation-library input[type="radio"]:checked + label .checked-icon {
    display: block;
}

.wizard-slide .btn.btn-primary {
    background-color: var(--ai-suite-primary-color);
    border-color: var(--ai-suite-primary-color);
    color: var(--ai-suite-button-font-color);
}

.wizard-slide .form-check {
    padding-left: 0;
}

.wizard-slide .form-control:focus {
    --typo3-form-control-focus-border-color: var(--ai-suite-primary-color);
}

.wizard-slide .form-check-input {
    --typo3-form-check-border-color: var(--ai-suite-primary-color);
    --typo3-form-check-checked-bg: var(--ai-suite-primary-color);
    --typo3-form-check-width: 1rem;
    --typo3-form-check-height: 1rem;
    border-color: var(--ai-suite-primary-color);
    width: 1rem;
    height: 1rem;
    margin: 0;
}

.wizard-slide .form-check-input:checked,
.wizard-slide .form-check-input:focus {
    --typo3-form-check-border-color: var(--ai-suite-primary-color);
    outline: 0;
    border-color: var(--ai-suite-primary-color);
    box-shadow: 0 0 0 0;
}
.wizard-slide .form-check-input:checked {
    background-color: var(--ai-suite-primary-color);
}

.wizard-slide .suggestions .form-check {
    padding: 0.75rem;
    border: 1px solid var(--ai-suite-border-color);
    border-radius: 0.25rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}
.wizard-slide .suggestions .form-check:has(.form-check-input:checked) {
    border-color: var(--ai-suite-primary-color);
}

.wizard-slide .module-body {
    overflow-x: hidden;
}

.wizard-slide textarea {
    min-height: 120px;
}


#wizardSlideTwo .image-suggestions .form-check-label.image-label {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    border: 1px solid var(--ai-suite-border-color);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
    overflow: hidden;
}

#wizardSlideTwo .image-suggestions .form-check-input:checked + .form-check-label.image-label {
    border-color: var(--ai-suite-primary-color);
    box-shadow: 0 0 3px 0 var(--ai-suite-primary-color);
}

#wizardSlideTwo .image-suggestions .form-check-input {
    position: absolute;
    left: -9999px;
}

#wizardSlideTwo .image-suggestions .form-check-label img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.2s ease;
}

#wizardSlideTwo .image-suggestions .check-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
    background-color: var(--ai-suite-primary-color);
    clip-path: polygon(15% 0%, 100% 0%, 100% 85%);
}

#wizardSlideTwo .image-suggestions .check-icon .icon {
    position: absolute;
    right: 5px;
    top: 5px;
}

#wizardSlideTwo .image-suggestions .form-check-input:checked + .form-check-label .check-icon {
    display: block;
}

#wizardSlideTwo .image-preselection img {
    width: 100%;
    height: auto;
}
