<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      {namespace core=TYPO3\CMS\Core\ViewHelpers}
      {namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">

    <section class="overflow-x-hidden">
        <f:if condition="{error}">
            <f:else>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label class="panel-title fw-bold">
                            <f:translate key="tx_aisuite.module.dashboard.card.createContent.title" extensionName="ai_suite"/> "{contentTypeTitle}"
                        </label>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="{f:be.uri(route: 'ai_suite_content_request', parameters: '{id: content.pid, table: table}')}" name="createContent" enctype="multipart/form-data" class="with-spinner">
                            <input type="hidden" name="content" value="{content -> f:format.json()}" />
                            <input type="hidden" name="availableTcaColumns" value="{availableTcaColumns -> f:format.json()}" />
                            <input type="hidden" name="defVals" value="{defVals -> f:format.json()}" />
                            <input type="hidden" name="additionalImageSettings" value="" />
                            <input type="hidden" name="uuid" value="{uuid}" />

                            <f:render partial="Libs/SelectTextGenerationLibrary" arguments="{textGenerationLibraries: textGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable}" />
                            <f:render partial="Libs/SelectImageGenerationLibrary" arguments="{imageGenerationLibraries: imageGenerationLibraries, paidRequestsAvailable: paidRequestsAvailable, showMaxImageHint: showMaxImageHint}" />
                            <f:render partial="Libs/SelectImageSettings" arguments="{imageGenerationLibraries: imageGenerationLibraries, additionalImageSettings: additionalImageSettings}" />
                            <f:render partial="PageContent/AvailableTcaColumns" arguments="{_all}" />
                            <f:render partial="Libs/SelectPromptTemplates" arguments="{promptTemplates: promptTemplates}" />
                            <f:render partial="Libs/PromptField" arguments="{propertyName: 'initialPrompt', value: initialPrompt}" />

                            <div class="form-group">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    data-uuid="{uuid}"
                                    data-page-id="{content.pid}"
                                >
                                    <core:icon identifier="actions-file-text" size="small"/>
                                    <f:translate key="tx_aisuite.module.PageContent.submit" extensionName="ai_suite"/>
                                </button>
                                <p class="calculated-requests"></p>
                            </div>
                        </form>
                    </div>
                </div>
                <f:render partial="Spinner" arguments="{messageKey: 'tx_aisuite.module.general.spinner.contentCreation'}" />
            </f:else>
        </f:if>
    </section>
</f:section>
