<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      {namespace core=TYPO3\CMS\Core\ViewHelpers}
      {namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">
    <f:flashMessages />

    <p>
        <f:translate key="aiSuite.module.errorDuringResponse"/>
    </p>
    <f:form actionUri="{errorActionUri}}">
        <div class="form-group">
            <f:form.submit value="{f:translate(key: 'tx_aisuite.module.error.try_again')}" class="btn btn-secondary" />
        </div>
    </f:form>

</f:section>
