<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      {namespace core=TYPO3\CMS\Core\ViewHelpers}
      {namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">

    <f:flashMessages />

    <f:if condition="{error}">
        <f:then>
            <p>
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:aiSuite.module.errorDuringResponse"/>
            </p>
            <a href="{regenerateActionUri}" class="btn btn-secondary mt-1">
                <core:icon identifier="actions-refresh" size="small" />
                <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:tx_aisuite.module.error.try_again"/>
            </a>
        </f:then>
        <f:else>
            <section class="container">
                <h2 class="text-gradient">
                    <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:tx_aisuite.module.PageContent.validate.headline"/>
                </h2>
                <p>
                    <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:tx_aisuite.module.PageContent.validate.explanation"/>
                </p>
                <f:form actionUri="{actionUri}" name="content" object="{content}" enctype="multipart/form-data">
                    <f:form.hidden property="selectedTcaColumns" name="selectedTcaColumns" value="{content.selectedTcaColumns -> f:format.json()}" class="form-control" />
                    <f:render partial="PageContent/DynamicFormFields" arguments="{_all}" />

                    <div class="form-group button-bar">
                        <button type="submit" class="btn btn-primary">
                            <core:icon identifier="actions-page-new" size="small"/>
                            {f:translate(key: 'LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:tx_aisuite.module.PageContent.validate.addContent')}
                        </button>
                        <a href="{regenerateActionUri}" class="btn btn-secondary mx-3">
                            <core:icon identifier="actions-refresh" size="small" />
                            <f:translate key="LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:tx_aisuite.module.PageContent.validate.regenerateContent"/>
                        </a>
                    </div>
                </f:form>
                <f:variable name="spinnerMessage" value="{f:translate(key: 'LLL:EXT:ai_suite/Resources/Private/Language/locallang.xlf:tx_aisuite.module.general.spinner.default')}" />
                <f:render partial="Spinner" arguments="{message: '{spinnerMessage}'}" />
            </section>
        </f:else>
    </f:if>
</f:section>
